// Modal Fancybox 2
// http://fancyapps.com/fancybox/
// ------------------------------------------------------

// Fancybox styles
// ---------------------------------------------------
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: @zindex-modal-wrap;
}

.fancybox-skin {
  position: relative;
  text-shadow: none;
  border: 2px solid @link-color;
  background: #FFFFFF;
  .background-clip(padding-box);
  .border-radius(@border-radius-base);
  .box-shadow(0 0 40px -20px #000);


  .fancybox-type-image & {
    border: none;
  }
}

.fancybox-opened {
  z-index: @zindex-modal;
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  margin: 0;
  padding: 20px;
  white-space: nowrap;
}

.fancybox-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#fancybox-loading {
  position: fixed;
  z-index: @zindex-modal-loading;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  cursor: pointer;
  background: #FFFFFF;
  .opacity(.8);
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(@preloader16x16) center center no-repeat;
}

.fancybox-close {
  position: absolute;
  z-index: @zindex-modal-close;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  color: @gray;

  &:after {
    content: '\00D7';
    display: block;
    margin-top: 5px;
    line-height: 1;
    font-size: 24px;
    text-align: center;
  }

  &:hover {
    color: @gray-dark;
  }
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

// Overlay helper
.fancybox-lock {
  margin-right: 15px !important;
  &,
  body {
    overflow: hidden;
  }
}

.fancybox-margin {
  margin-right: 15px !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: @zindex-modal-backdrop;
  background: url(@white-85);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}


.fancybox-nav {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: @zindex-modal-nav;
}

.fancybox-prev {
  left: -40px;
}

.fancybox-next {
  right: -40px;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 17px;
  height: 28px;
  margin-top: -14px;
  cursor: pointer;
  z-index: 8040;
  background-image: url(@sprite-fancybox);
  background-repeat: no-repeat;

  @media @high-resolution {
    background-image: url(@sprite-fancybox-2x);
    background-size: 17px 56px;
  }
}

.fancybox-next span {
  right: 0;
  background-position: 0 0;
}

.fancybox-prev span {
  left: 0;
  background-position: 0 -28px;
}

.fancybox-type-image {

  .fancybox-close {
    top: 0;
    right: -45px;
    border-left: none;

    &:after {
      margin-top: 0;
      font-size: 44px;
    }
  }
}



.fancybox-title-inside-wrap {
  padding: 10px 20px;
  border-bottom: 1px solid @hr-border;
  box-shadow: 0 2px 8px -2px rgba(0,0,0,.15);

  input {
    margin-bottom: 0;
  }
}


// Modal content
// ---------------------------------------------------

.modal {
  border-radius: @border-radius-base;
}

// Header
.modal-header {
  padding: 10px 20px;
  font-weight: bold;
  border-bottom: 1px solid @hr-border;
  
  input {
    margin-bottom: 0;
  }
}

// Body
.modal-body {
  padding: 20px;
}

// Footer
.modal-footer {
  padding: 0 20px 20px;
  .clearfix;

  .btn.pull-right + .pull-right {
    margin-right: 5px;
  }

  .btn.pull-left + .pull-left {
    margin-left: 5px;
  }
}