// jQuery TE 1.4.0 , http://jqueryte.com/
// Copyright (C) 2013, Fatih Koca (fattih@fattih.com), (http://jqueryte.com/about)
// jQuery TE is provided under the MIT LICENSE.


.jqte {
  margin-bottom: @line-height-computed / 2;
  overflow: hidden;
  border: 1px solid @inputBorder;
  background-color: @inputBackground;
  border-radius: @border-radius-small;
}

.jqte ul,
.jqte ol {
  margin-left: 20px;
}

.jqte ul {
  list-style: disc;
}

.jqte ol {
  list-style: decimal;
}

// toolbar 
.jqte_toolbar {
  overflow: auto;
  padding: 3px 4px;
  border-bottom: 1px solid @inputBorder;
  background-color: @gray-lighter;
}

.jqte_tool {
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.jqte_tool, 
.jqte_tool_icon, 
.jqte_tool_label {
  border: 1px solid transparent;
  border-radius: @border-radius-small;
}

.jqte_hiddenField {
  display: none;
}

.jqte_tool_icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url('../images/jquery-te.png') no-repeat;
}

.jqte_tool.jqte_tool_4 .jqte_tool_icon {
  background-position:-44px 0
}
.jqte_tool.jqte_tool_5 .jqte_tool_icon {
  background-position:-66px 0
}
.jqte_tool.jqte_tool_6 .jqte_tool_icon {
  background-position:-88px 0
}
.jqte_tool.jqte_tool_7 .jqte_tool_icon {
  background-position:-110px 0
}
.jqte_tool.jqte_tool_8 .jqte_tool_icon {
  background-position:-132px 0
}

.jqte_tool:hover {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}


.jqte_tool:hover .jqte_tool_icon, 
.jqte_tool:hover .jqte_tool_label {
  border: #AAA 1px solid;
}

.jqte_tool:active .jqte_tool_icon, 
.jqte_tool:active .jqte_tool_label {
  border: #777 1px solid;
}

.jqte_tool_depressed {
  background-color: #DDD;
  border-color: #CCC;
}

.jqte_tool_depressed .jqte_tool_icon {
  border-color: #AAA
}

.jqte_tool_depressed:hover {
  background-color: #EEE
}

// editor area 
.jqte_editor, .jqte_source {
  min-height: 200px;
  max-height: 900px;
  padding: 10px;
  overflow: auto;
  outline: none;
  word-wrap: break-word; 
  -ms-word-wrap: break-word;
  resize: vertical;
  background-color: #FFFFFF;
}


// placeholder 
.jqte_placeholder {
  position: relative;
  display: none;
}

.jqte_placeholder_text {
  position: absolute;
  top: 43px;
  left: 10px;
  color: @gray-dark;
}