.company-feedback {
	position: relative;
	top: 0;
	margin-bottom: @line-height-computed;
	padding: 5px;
	background-color: @blue-light;
	background-image: url(@patternLetter);
	border-radius: @border-radius-base;

	.transition(top .2s);
}

.company-feedback-gag,
.company-feedback-inner {
	border: 1px solid @gray;
	border-color: @gray-rgba;
	background-color: #FFFFFF;
	background-clip: padding-box;
	border-radius: @border-radius-small;
}

.company-feedback-gag {
	position: relative;
	padding: 7px 15px;
	cursor: text;

	span {
		position: absolute;
		display: block;
		right: 15px;
		font-size: @font-size-small;
		color: @gray-dark;
	}
}

.company-feedback-inner {
	display: none;
	padding: 15px;

	label {
		color: @gray-dark;
		font-size: @font-size-smallest;
		text-transform: uppercase;
		font-weight: 700;
	}

	.btn + a {
		margin-left: 10px;
	}

	.pull-left {
		margin-right: 20px;

		+ .pull-left {
			margin-right: 0;
		}
	}
}

.company-feedback-action {
	margin: 15px -15px -15px;
	padding: 15px;
	clear: left;
	background-color: @gray-lighter;
	border-radius: 0 0 @border-radius-base @border-radius-base;
}

.company-feedback.active {
	top: -8px;
	box-shadow: 0 0 10px @gray-rgba;

	.company-feedback-gag {
		display: none;
	}

	.company-feedback-inner {
		display: block;
	}
}

.company-header + .company-feedback {
	margin-top: -22px;
	margin-bottom: @line-height-computed * 1.5;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}