.companies-list {
	margin-bottom: @line-height-computed;
}

.companies-list > li {
	padding: 15px 15px 15px 195px;
	overflow: hidden;
	border: 1px solid @hr-border;
	border-radius: @border-radius-base;

	+ li {
		margin-top: @line-height-computed;
	}
}

.companies-list > li p a {
	display: inline-block;
}


.companies-list > li .heading h3 {
	color: @link-color;
}

.companies-list > li .heading:hover h3 {
	color: @text-color;
}

.companies-list > li .heading img {
	display: block;
	width: 160px;
	height: 60px;
	float: left;
	margin-left: -180px;
}

.companies-list > li .contacts {
	width: 280px;
	float: right;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid @hr-border;

	li {
		padding: 5px 0;
		line-height: @line-height-small;
	}

	.title {
		font-weight: 700;

		+ li {
			font-size: @font-size-small;
		}
	}
}