.company-header {
  position: relative;
  margin: 0 0 @line-height-computed;
  border: 1px solid @gray;
  background-color: #FFFFFF;
  border-radius: @border-radius-base @border-radius-base 0 0;

  h1 {
    margin-bottom: 0;
    padding: 20px 20px 10px;
  }
}

.company-header-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 45px;
  overflow: hidden;
  background-color: @gray-lighter;
  border-top-right-radius: @border-radius-base - 1;
  border-bottom-left-radius: @border-radius-base - 1;
}

.company-header-status {
  padding: 0 20px 20px;
  font-size: @font-size-small;

  span {
    margin-right: 10px;
  }

  a {
    color: @text-color;

    &:hover {
      color: @link-color;
    }
  }
}

.company-header-about {
  padding: 19px;
  border: 1px solid #FFFFFF;
  background-color: #f8f8f8;
  border-radius: 0 0 (@border-radius-base - 1) (@border-radius-base - 1);
  box-shadow: 0 -1px 0 @hr-border;
  
  a.more {
    display: none;
  }

  &.hide {
    display: block;
  }

  &.hide span {
    display: block;
    height: @line-height-base * 2;
    overflow: hidden;
  }

  &.hide a.more {
    display: inline-block;
    line-height: 1;
  }
}


.company-page-row {
  margin-bottom: @line-height-computed;
  padding-right: 380px;

  .clearfix();
}

.company-page-sidebar {
  width: 360px;
  float: right;
  margin-right: -380px;
}

.company-logo {
  float: left;
  margin-right: 20px;
}



.company-map {
  width: 100%;
  height: 260px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @gray-lighter;
  border-radius: @border-radius-base @border-radius-base 0 0;
}

.company-contacts-group {
  margin-bottom: @line-height-computed;
  border: 1px solid @gray;
  border-radius: @border-radius-base;
}

.company-map + .company-contacts-group {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.company-contacts {
  position: relative;
  padding-bottom: 10px;

  h4 {
    margin-bottom: 0;
    padding: 20px 20px 10px;
    cursor: pointer;

    &:hover {
      color: @text-color;
    }
  }

  .icon-arrow {
    position: absolute;
    top: 26px;
    right: 20px;
  }

  ul {
    height: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;

    .title {
      font-weight: 700;
    }
  }

  + .company-contacts {
    border-top: 1px solid @hr-border;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
  }



  // Active state
  &.active {
    padding-bottom: 10px;
  }

  &.active .icon-arrow {
    border-top-width: 0;
    border-bottom-width: 7px;
    border-bottom-color: @gray-dark;
  }

  &.active ul {
    height: auto;
    margin-bottom: @line-height-computed / 2;
    padding: 0 20px;
  }
}




.company-data-actions {
  margin: 0 -20px;
  padding: 0;
  border: none;
  border-radius: 0;
}

.company-data-actions h4 {
  padding: 0 20px;
}

.company-data-actions ul {
  padding: 10px 20px;

  &:hover {
    background-color: @blue-light;
  }

  .actions {
    padding-top: 10px;
  }
}

.company-contacts-group.company-data-actions {
  margin-top: -20px;
  margin-bottom: -20px;
}