{% extends "./_layout.twig" %}

{% block pagetitle %}<title>JcBoat.ru - Настройки страницы компании</title>{% endblock %}

{% set breadcrumbs = [
    {link: '/list', name: 'Компания'},
    {link: '/list/location-moscow', name: 'Настройки страницы компании'}
] %}

{% set locations = [
    {id: 0, name: '- Все города -'},
    {id: 1, name: 'Москва'},
    {id: 2, name: 'Владивосток'},
    {id: 4, name: 'Санкт-Петербург'},
    {id: 5, name: 'Абакан'},
    {id: 6, name: 'Абдулино'},
    {id: 7, name: 'Абинск'},
    {id: 8, name: 'Адлер'},
    {id: 9, name: 'Азов'},
    {id: 10, name: 'Аксай'},
    {id: 11, name: 'Алатырь'},
    {id: 12, name: 'Алдан'},
    {id: 13, name: 'Алейск'},
    {id: 14, name: 'Александров'},
    {id: 15, name: 'Александровск'},
    {id: 16, name: 'Александровск-Сахалинский'},
    {id: 17, name: 'Алексеевка'},
    {id: 18, name: 'Алексин'},
    {id: 19, name: 'Алупка'},
    {id: 20, name: 'Алушта'},
] %}

{% set countries = [
    {
        "name": "- выбрать -",
        "locations": []
    },
    {
        "name": "Россия",
        "locations": [
        { "id": "123", "name": "Абакан" },
        { "id": "2826", "name": "Абдулино" },
        { "id": "2781", "name": "Абинск" },
        { "id": "2849", "name": "Адлер" },
        { "id": "2671", "name": "Азов" },
        { "id": "124", "name": "Аксай" },
        { "id": "3066", "name": "Алатырь" },
        { "id": "2739", "name": "Алдан" },
        { "id": "2737", "name": "Алейск" },
        { "id": "2986", "name": "Александров" },
        { "id": "3207", "name": "Александровск" },
        { "id": "2979", "name": "Александровск-Сахалинский" },
        { "id": "3072", "name": "Алексеевка" },
        { "id": "2891", "name": "Алексин" },
        { "id": "2719", "name": "Алупка" },
        { "id": "2720", "name": "Алушта" }
    ]
    },
    {
        "name": "Япония",
        "locations": [
        { "id": "3284", "name": "Aoicho" },
        { "id": "3433", "name": "Ashiharacho" },
        { "id": "3534", "name": "Azumino" },
        { "id": "3372", "name": "Chigasaki" },
        { "id": "3232", "name": "Chiryu" },
        { "id": "3516", "name": "Fuji" },
        { "id": "3355", "name": "Fussa" },
        { "id": "3255", "name": "Hanawadamachi" },
        { "id": "3531", "name": "Heiwajima" },
        { "id": "3230", "name": "Honjocho" },
        { "id": "3541", "name": "Inzai" },
        { "id": "3246", "name": "Kagoshima-shi" },
        { "id": "3667", "name": "Kami-nagarekawacho" },
        { "id": "3445", "name": "Kawagoe" },
        { "id": "3437", "name": "Kitaminato" },
        { "id": "3684", "name": "Mino" },
        { "id": "3653", "name": "Mitsui" }
    ]
    }
] %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        {% if loop.last %}
                            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="href={{ breadcrumb.link }}">{{ breadcrumb.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
            <section class="company-settings">
                <h1>Настройки страницы компании</h1>

                <form>

                    <div class="accordion" id="company-settings-collapse">
                        <div class="title mt-3">
                            <a href data-toggle="collapse" data-target="#company-common"
                               aria-expanded="true" aria-controls="company-common">
                                Общая информация
                            </a>
                        </div>
                        <div id="company-common" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#company-settings-collapse">

                            <div class="form-horizontal form-group mt-3">
                                <div class="form-row">
                                    <label class="col-form-label :required col-md-6 col-lg-4" for="companyName">Название
                                        компании:</label>
                                    <div class="col-md-6 col-lg-8">
                                        <input type="text" name="companyName" id="seller-name" class="form-control"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal form-group mt-3">
                                <div class="form-row">
                                    <label class="col-form-label col-md-6 col-lg-4" for="companyLead">Информация о
                                        компании:</label>
                                    <div class="col-md-6 col-lg-8">
                                        <textarea class="form-control" id="companyLead" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="text-muted">
                                <small>Кратко опишите деятельность Вашей компании. Не более 200 символов. Эта
                                    информация отображается в
                                    общем списке компаний.
                                </small>
                            </div>

                            <div class="form-group mt-3">

                                <label for="selectLogo">Логотип компании:</label>

                                {% set files = [ {"src": ""}, {"src": "logo_3.jpg"}] %}

                                {% for file in files %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-muted mb-2">
                                                <small>Логотип сделает страницу вашей компании более
                                                    заметной и&nbsp;привлекательной.
                                                </small>
                                            </div>
                                            <button class="btn btn-primary">Выбрать файл</button>
                                        </div>
                                        <div class="col-auto">
                                            <div
                                                class="company-logo {% if not file.src %}d-flex align-items-center justify-content-center{% endif %}">
                                                {% if file.src %}
                                                    <div class="embed-responsive embed-responsive-16by6">
                                                        <img class="embed-responsive-item"
                                                             src="/images/logo_3.jpg"></img>
                                                    </div>
                                                {% else %}
                                                    <svg class="icon-size-24 text-muted-light d-inline-block">
                                                        <use xlink:href="#icon-picture"></use>
                                                    </svg>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="title mt-3">
                            <a type="button" data-toggle="collapse"
                               data-target="#company-details" aria-expanded="false" aria-controls="company-details">
                                Реквизиты
                            </a>
                        </div>
                        {% set details = [
                            { "id": "addFm_legal_field_name_off", "legend": "Официальное название", "input_type": "text", "help": "" },
                            { "id": "addFm_legal_field_orgnz_form", "legend": "Организационно-правовая форма", "input_type": "text", "help": "Необязательна для физических лиц, не являющихся ИП" },
                            { "id": "addFm_legal_field_r_svid", "legend": "Свидетельство о регистрации", "input_type": "text", "help": "" },
                            { "id": "addFm_legal_field_inn", "legend": "ИНН", "input_type": "text", "help": "" },
                            { "id": "addFm_legal_field_inn", "legend": "КПП", "input_type": "text", "help": "Для юридических лиц" },
                            { "id": "companyName", "legend": "ОГРН", "input_type": "addFm_legal_field_ogrn", "help": "ОГРНИП" },
                            { "id": "addFm_legal_field_passport", "legend": "Паспорт", "input_type": "text", "help": "Для ИП и физических лиц" },
                            { "id": "addFm_legal_field_address_legal", "legend": "Юридический адрес", "input_type": "text", "help": "Адрес прописки для ИП и физических лиц" },
                            { "id": "addFm_legal_field_address_real", "legend": "Почтовый адрес", "input_type": "text", "help": "Адрес для корреспонденции" },
                            { "id": "addFm_legal_field_bank_ras_chet", "legend": "Расчетный счет", "input_type": "text", "help": "" },
                            { "id": "addFm_legal_field_bank_bik", "legend": "БИК", "input_type": "text", "help": "" },
                            { "id": "addFm_legal_field_bank_kor_chet", "legend": "Корр. счет", "input_type": "text", "help": "" },
                            { "id": "addFm_legal_field_webmoney", "legend": "Webmoney", "input_type": "text", "help": "" },
                            { "id": "addFm_legal_field_ya_mone", "legend": "Яндекс.Деньги", "input_type": "text", "help": "" },
                        ] %}
                        <div id="company-details" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#company-settings-collapse">
                            <div class="form-horizontal">
                                {% for detail in details %}
                                    <div class="form-horizontal form-group mt-3">
                                        <div class="form-row">
                                            <label for="{{ detail.id }}"
                                                   class="col-form-label :required col-md-6 col-lg-4">{{ detail.legend }}
                                                :</label>
                                            <div class="col-md-6 col-lg-8">
                                                <input type="text" class="form-control" id="{{ detail.id }}"
                                                >
                                                {% if detail.help %}
                                                    <div class="text-muted"><small>{{ detail.help }}</small></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>


                        <div class="title mt-3">
                            <a type="button" data-toggle="collapse"
                               data-target="#company-activities" aria-expanded="false"
                               aria-controls="company-activities">
                                Сферы деятельности
                            </a>
                        </div>
                        {% set activities = [
                            { "id": "147", "name": "Бизнес-туры" },
                            { "id": "145", "name": "Доставка, перевозки" },
                            { "id": "141", "name": "Кредит, лизинг" },
                            { "id": "140", "name": "Обслуживание техники" },
                            { "id": "149", "name": "Продажа автомобилей" },
                            { "id": "157", "name": "Продажа автотоваров" },
                            { "id": "540", "name": "Продажа аудио- и видеотехники" },
                            { "id": "155", "name": "Продажа водной техники" },
                            { "id": "154", "name": "Продажа запчастей" },
                            { "id": "150", "name": "Продажа мототехники" },
                            { "id": "151", "name": "Продажа спецтехники" },
                            { "id": "353", "name": "Продажа техники для активного отдыха" },
                            { "id": "818", "name": "Продажа товаров для активного отдыха" },
                            { "id": "158", "name": "Продажа тюнинга" },
                            { "id": "156", "name": "Продажа шин и дисков" },
                            { "id": "142", "name": "Страхование" },
                            { "id": "146", "name": "Таможенное оформление" },
                            { "id": "656", "name": "Услуги" }
                        ] %}
                        {% set subscriptions = [
                            { "id": "147", "name": "Организация поездок за автомобилями " },
                            { "id": "145", "name": "Организация поездок за спецтехникой " },
                            { "id": "141", "name": "Туристическая компания " },

                        ] %}
                        {% set directionGroups = [
                            {
                                "id" : "312",
                                "name": "Организация поездок за автомобилями",
                                "checked": "true",
                                "directions": [
                                { "id": "477", "name": "Организация поездок в Европу", "checked": "true" },
                                { "id": "328", "name": "Организация поездок в Сингапур", "checked": "false" },
                                { "id": "314", "name": "Организация поездок в США", "checked": "true" },
                                { "id": "476", "name": "Организация поездок в Ю.Корею", "checked": "false" },
                                { "id": "313", "name": "Организация поездок в Японию", "checked": "true" }
                            ]
                            },
                            {
                                "id" : "315",
                                "name": "Услуги",
                                "directions": [
                                { "id": "323", "name": "Бронирование гостиниц", "checked": "true" },
                                { "id": "584", "name": "Встречи с автодилерами", "checked": "false" },
                                { "id": "316", "name": "Отгрузка и вывоз авто", "checked": "false" },
                                { "id": "317", "name": "Оформление визы", "checked": "false" },
                                { "id": "318", "name": "Оформление загранпаспорта", "checked": "true" },
                                { "id": "319", "name": "Покупка билетов", "checked": "false" },
                                { "id": "583", "name": "Посещение автоаукционов", "checked": "true" },
                                { "id": "625", "name": "Посещение торговых площадок", "checked": "false" },
                                { "id": "321", "name": "Таможенное оформление", "checked": "false" },
                                { "id": "322", "name": "Услуги гида", "checked": "false" },
                                { "id": "320", "name": "Юридическое оформление", "checked": "false" }
                            ]
                            },
                            {
                                "id" : "471",
                                "name": "Цель поездки",
                                "directions": [
                                { "id": "697", "name": "Покупка водной техники", "checked": "true" },
                                { "id": "473", "name": "Покупка грузовых авто", "checked": "false" },
                                { "id": "472", "name": "Покупка легковых авто", "checked": "true" },
                                { "id": "475", "name": "Покупка мототехники", "checked": "false" },
                                { "id": "474", "name": "Покупка спецтехники", "checked": "false" }
                            ]
                            }
                        ] %}

                        {% set activitiesSaved = [
                            {
                                "id" : "0",
                                "activity": "Бизнес-туры",
                                "subscription": "Организация поездок за автомобилями",
                                "description" : "Группа компаний «Япония-Трейд» предлагает заказ автомобилей
                                    с аукционов Японии под полную пошлину и конструкторов под птс.
                                    А также мотоциклы, катера, спецтехника в наличии со стоянки компании
                                    и на заказ. Организовываем отправку в регионы РФ.
                                    Работаем с 2005 года(!), являясь одной из старейших
                                    и крупнейших компаний в этой сфере. За это время мы отправили
                                    тысячи японских автомобилей в разные регионы России.
                                    Получили сотни хороших отзывов от клиентов, многие из которых
                                    стали нашими постоянными заказчиками.",
                                "checked": "true",

                            },
                            {
                                "activity": "Кредит, лизинг",
                                "subscription": "Продажа автомобилей в кредит",
                                "description" : "Каталог проверенных автомобилей с пробегом.
                                Подбор по марке, модели, двигателю, КПП, году, кузову, цене, приводу
                                и количеству владельцев. Перед публикацией на сайте каждая машина проходит краш-тест",
                                "checked": "false",
                            },

                        ] %}
                        <div id="company-activities" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#company-settings-collapse">

                            {% for activitySaved in activitiesSaved %}
                                <div class="activity">
                                    <div class="h5 mt-4">{{ activitySaved.activity }}
                                        / {{ activitySaved.subscription }}</div>

                                    <div class="custom-control custom-radio custom-control-inline mt-1">
                                        <input type="radio" id="activity-{{ activitySaved.id }}" name="main-activity"
                                               class="custom-control-input"
                                               {% if activitySaved.checked == "true" %}checked{% endif %}>
                                        <label class="custom-control-label" for="activity-{{ activitySaved.id }}">
                                            Основная сфера деятельности
                                        </label>
                                    </div>

                                    <div class="mt-4">
                                        {{ activitySaved.description }}
                                    </div>

                                    <div class="form-horizontal form-group">
                                        <div class="form-row align-items-stretch">
                                            {% for group in directionGroups %}
                                                <div class="col-md-6 col-lg-4 d-flex">
                                                    <div class="card flex-fill mt-3">
                                                        <div class="card-header">
                                                            {{ group.name }}
                                                        </div>
                                                        <div class="card-body">
                                                            <ul class="benefits list-unstyled">
                                                                {% for direction in group.directions %}
                                                                    {% if direction.checked == "true" %}
                                                                        <li class="card-text">{{ direction.name }}</li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-row mb-4">
                                        <div class="col-6 col-lg-auto">
                                            <button class="btn btn-sm btn-outline-primary btn-block">
                                                <svg class="icon-size-18 mr-2">
                                                    <use xlink:href="#icon-edit"></use>
                                                </svg>
                                                Редактировать
                                            </button>
                                        </div>
                                        <div class="col-6 col-lg-auto">
                                            <button class="btn btn-sm btn-block btn-outline-danger">
                                                <svg class="icon-size-18 mr-2">
                                                    <use xlink:href="#icon-delete"></use>
                                                </svg>
                                                Удалить
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                            <div class="form-row mt-3">
                                <div class="col col-lg-auto">
                                    <button class="btn btn-sm btn-block btn-primary">
                                        <svg class="icon-size-18 mr-2">
                                            <use xlink:href="#icon-add-circle"></use>
                                        </svg>
                                        Добавить новую сферу деятельности
                                    </button>
                                </div>
                            </div>

                            <div class="text-muted">
                                <small></small>
                            </div>
                            <div class="h5 mt-4">Добавить новую сферу деятельности (открывается при клике на баттон):
                            </div>


                            <div class="form-horizontal form-group">
                                <div class="form-row mb-3">
                                    <div class="col-lg-6 mt-2 mt-lg-1">
                                        <label for="activitiy">Категория:</label>
                                        <select class="custom-select" id="activitiy">
                                            {% for activitiy in activities %}
                                                <option value="{{ activitiy.id }}">{{ activitiy.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-6 mt-3 mt-lg-1">
                                        <label for="subActivitiy">Подкатегория:</label>
                                        <select class="custom-select" id="subActivitiy">
                                            {% for subscription in subscriptions %}
                                                <option value="{{ subscription.id }}">{{ subscription.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="custom-control custom-radio custom-control-inline mb-3">
                                    <input type="radio" id="activity-new" name="main-activity"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="activity-new">
                                        Выбрать в качестве основной
                                    </label>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="col">
                                        <label for="description">Описание деятельности:</label>
                                        <textarea class="form-control" id="description" rows="3"></textarea>
                                    </div>
                                </div>

                                <label class="mb-0 colFormLabelLg">Направления деятельности</label>
                                <div class="text-muted mb-4"><small>Отметьте как минимум один пункт в каждом
                                        направлении:</small></div>
                                {% for group in directionGroups %}
                                    <div class="direction-group {% if not loop.last %}mb-5{% endif %}">
                                        <div class="direction-group-legend text-muted-light">
                                            {{ group.name }}
                                        </div>
                                        <div class="form-row">
                                            {% for direction in group.directions %}
                                                <div class="col-md-6">
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="check-{{ direction.id }}">
                                                        <label class="custom-control-label"
                                                               for="check-{{ direction.id }}">
                                                            {{ direction.name }}
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="title mt-3">
                            <a type="button" data-toggle="collapse"
                               data-target="#company-locations" aria-expanded="false" aria-controls="company-locations">
                                Офисы
                            </a>
                        </div>
                        {% set locations = [
                            { "id": "addFm_offices_field_name_office", "legend": "Название офиса", "input_type": "text", "help": "" },
                            { "id": "addFm_offices_field_name_town", "legend": "Город", "input_type": "text", "help": "" },
                            { "id": "addFm_offices_field_ind", "legend": "Индекс", "input_type": "text", "help": "" },
                            { "id": "addFm_offices_field_region", "legend": "Область, край", "input_type": "text", "help": "" },
                            { "id": "addFm_offices_field_street", "legend": "Улица", "input_type": "text", "help": "" },
                            { "id": "addFm_offices_field_build_num", "legend": "Дом", "input_type": "text", "help": "" },
                            { "id": "addFm_offices_field_cont_face", "legend": "Контактное лицо", "input_type": "text", "help": "" },
                            { "id": "addFm_offices_box_form_mapshow", "legend": "Схема проезда", "input_type": "text", "help": "" },
                            { "id": "addFm_offices_field_phone", "legend": "Телефоны", "input_type": "text", "help": "Можно ввести несколько, разделяя запятыми" },
                            { "id": "addFm_offices_field_fax", "legend": "Факсы", "input_type": "text", "help": "Можно ввести несколько, разделяя запятыми" },
                            { "id": "addFm_offices_field_email", "legend": "Эл. почта", "input_type": "text", "help": "Можно ввести несколько, разделяя запятыми" },
                            { "id": "addFm_offices_field_skype", "legend": "Skype", "input_type": "text", "help": "Можно ввести несколько, разделяя запятыми" },
                            { "id": "addFm_offices_field_site", "legend": "Сайт", "input_type": "text", "help": "Можно ввести несколько, разделяя запятыми" },
                        ] %}

                        {% set officesSaved = [
                            {
                                "id" : "0",
                                "office": "Офис в Москве",
                                "address": "Экипажная ул., 18, Владивосток",
                                "map" : "location-map.jpg",
                                "phone" : "8 (495) 672-76-31",
                                "checked": "true",
                                "location": "Москва",
                                "person":"Денис Мещеряков",
                                "website":"www.udemy.ru",

                            },
                            {
                                "office": "Офис во Владивостоке",
                                "address": "Запорожская ул., д.77, офис 816",
                                "map" : "https://goo.gl/maps/spcvj9iiWW9WZqGHA",
                                "phone" : "8 (495) 788-80-00, 8 (495) 795-39-60",
                                "checked": "false",
                                "location": "Владивосток",
                                "person":"Evgen Marfel",
                                "website":"www.otus.ru",
                            },

                        ] %}


                        <div id="company-locations" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#company-settings-collapse">

                            {% for officeSaved in officesSaved %}
                            <div class="office">
                                <div class="h5 mt-4">{{ officeSaved.office }}</div>

                                <div class="custom-control custom-radio custom-control-inline mt-1 mb-3">
                                    <input type="radio" id="office-{{ loop.index0 }}" name="main-office"
                                           class="custom-control-input"
                                           {% if officeSaved.checked == "true" %}checked{% endif %}>
                                    <label class="custom-control-label" for="office-{{ loop.index0 }}">
                                        Главный офис
                                    </label>
                                </div>

                                <div class="form-row">
                                    <label for="location-{{ loop.index0 }}"
                                           class="col-form-label :required col-md-6 col-lg-4">
                                        Адрес:
                                    </label>

                                    <div class="col-md-6 col-lg-8">
                                        <input type="text" readonly
                                               class="form-control-plaintext"
                                               id="location-{{ loop.index0 }}"
                                               value="{{ officeSaved.address }}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label for="map-{{ loop.index0 }}"
                                           class="col-form-label :required col-md-6 col-lg-4">
                                        Карта:
                                    </label>

                                    <div class="col-md-6 col-lg-8">
                                        <input type="text" readonly
                                               class="form-control-plaintext"
                                               id="map-{{ loop.index0 }}"
                                               value="{{ officeSaved.map }}">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <label for="phone-{{ loop.index0 }}" class="col-form-label :required col-md-6 col-lg-4">
                                        Телефоны:
                                    </label>

                                    <div class="col-md-6 col-lg-8">
                                        <input type="text" readonly
                                               class="form-control-plaintext"
                                               id="phone-{{ loop.index0 }}"
                                               value="{{ officeSaved.phone }}">
                                    </div>
                                </div>

                                <div class="form-row mt-2 mb-3">
                                    <div class="col-6 col-lg-auto">
                                        <div class="form-control-toggle">
                                            <a class="collapsed" data-toggle="collapse"
                                               href="#other-office-data-{{ loop.index0 }}"
                                               role="button" aria-expanded="false"
                                               aria-controls="other-office-data-{{ loop.index0 }}">
                                                Другие реквизиты офиса
                                                <svg class="icon-size-18 mr-2">
                                                    <use xlink:href="#icon-chevron-down-small"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div id="other-office-data-{{ loop.index0 }}" class="collapse mb-2">
                                    <div class="form-row">
                                        <label for="phone-{{ loop.index0 }}" class="col-form-label :required col-md-6 col-lg-4">
                                            Город:
                                        </label>

                                        <div class="col-md-6 col-lg-8">
                                            <input type="text" readonly
                                                   class="form-control-plaintext"
                                                   id="phone-{{ loop.index0 }}"
                                                   value="{{ officeSaved.location }}">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="phone-{{ loop.index0 }}" class="col-form-label :required col-md-6 col-lg-4">
                                            Контактнное лицо:
                                        </label>

                                        <div class="col-md-6 col-lg-8">
                                            <input type="text" readonly
                                                   class="form-control-plaintext"
                                                   id="phone-{{ loop.index0 }}"
                                                   value="{{ officeSaved.person }}">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="phone-{{ loop.index0 }}" class="col-form-label :required col-md-6 col-lg-4">
                                            Сайт:
                                        </label>

                                        <div class="col-md-6 col-lg-8">
                                            <input type="text" readonly
                                                   class="form-control-plaintext"
                                                   id="phone-{{ loop.index0 }}"
                                                   value="{{ officeSaved.website }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row mb-4">
                                    <div class="col-6 col-lg-auto">
                                        <button class="btn btn-sm btn-outline-primary btn-block">
                                            <svg class="icon-size-18 mr-2">
                                                <use xlink:href="#icon-edit"></use>
                                            </svg>
                                            Редактировать
                                        </button>
                                    </div>
                                    <div class="col-6 col-lg-auto">
                                        <button class="btn btn-sm btn-block btn-outline-danger">
                                            <svg class="icon-size-18 mr-2">
                                                <use xlink:href="#icon-delete"></use>
                                            </svg>
                                            Удалить
                                        </button>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}

                            <div class="form-horizontal form-group mt-3 mb-0">
                                    <div class="custom-control custom-radio custom-control-inline mt-1 mb-3">
                                        <input type="radio" id="office-{{ loop.index0 }}" name="main-office"
                                               class="custom-control-input"
                                               {% if officeSaved.checked == "true" %}checked{% endif %}>
                                        <label class="custom-control-label" for="office-{{ loop.index0 }}">
                                            Главный офис
                                        </label>
                                    </div>

                            </div>
                            {% for location in locations %}
                                <div class="form-horizontal form-group {% if not loop.first %}mt-3{% endif %}">
                                    <div class="form-row">
                                        <label for="{{ location.id }}"
                                               class="col-form-label :required col-md-6 col-lg-4">{{ location.legend }}
                                            :</label>
                                        {# Если это схема проезда #}
                                        {% if  location.id == "addFm_offices_box_form_mapshow" %}
                                            <div class="col-md-6 col-lg-8">

                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="customFile">Выберите
                                                        файл</label>
                                                </div>
                                                <div class="text-muted">
                                                    <small>
                                                        Загрузите изображение с Вашего устройства...
                                                    </small>
                                                </div>
                                                <input type="text" class="form-control mt-2" id="{{ location.id }}">
                                                <div class="text-muted">
                                                    <small>
                                                        ...или добавьте ссылку, например с
                                                        <a href="http://maps.yandex.ru/"
                                                           target="_blank">Яндекс.Карт</a>
                                                        или
                                                        <a href="http://maps.google.ru/" target="_blank">карт
                                                            Google</a>
                                                    </small>
                                                </div>

                                            </div>
                                        {% elseif location.id == "addFm_offices_field_name_town" %}

                                            <div class="col-md-6 col-lg-8">
                                                <select class="custom-select" id="location">
                                                    {% for country in countries %}
                                                        {% if loop.first %}
                                                            <option value="0"
                                                                    selected>{{ country.name }}</option>
                                                        {% else %}
                                                            <optgroup label="{{ country.name }}">
                                                                {% for location in country.locations %}
                                                                    <option
                                                                        value="{{ country.id }}">{{ location.name }}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        {% else %}

                                            <div class="col-md-6 col-lg-8">
                                                <input type="text" class="form-control" id="{{ location.id }}"
                                                >
                                                {% if location.help %}
                                                    <div class="text-muted"><small>{{ location.help }}</small></div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                    <input type="submit" name="Submit" class="btn btn-lg btn-block btn-primary mt-3" value="Сохранить">
                </form>


            </section>


        </div>
        <div class="col-fixed d-none d-lg-block">
            <img src="https://via.placeholder.com/240x400" alt="">
        </div>
    </div>
{% endblock %}
