{% extends "./_layout.twig" %}

{% block pagetitle %}<title>JcBoat.ru - Справочник компаний</title>{% endblock %}

{% set breadcrumbs = [
    {link: '/list', name: 'Справочник компаний'},
    {link: '/list/location-moscow', name: 'Все города'}
] %}

{% set locations = [
    {id: 0, name: '- Все города -'},
    {id: 1, name: 'Москва'},
    {id: 2, name: 'Владивосток'},
    {id: 4, name: 'Санкт-Петербург'},
    {id: 5, name: 'Абакан'},
    {id: 6, name: 'Абдулино'},
    {id: 7, name: 'Абинск'},
    {id: 8, name: 'Адлер'},
    {id: 9, name: 'Азов'},
    {id: 10, name: 'Аксай'},
    {id: 11, name: 'Алатырь'},
    {id: 12, name: 'Алдан'},
    {id: 13, name: 'Алейск'},
    {id: 14, name: 'Александров'},
    {id: 15, name: 'Александровск'},
    {id: 16, name: 'Александровск-Сахалинский'},
    {id: 17, name: 'Алексеевка'},
    {id: 18, name: 'Алексин'},
    {id: 19, name: 'Алупка'},
    {id: 20, name: 'Алушта'},
] %}

{% set companies =
    [
        {
            "link": "/companies/atlant",
            "name": "Атлант",
            "location": "Москва",
            "profile": "Продажа новых и контрактных автозапчастей",
            "logo": "/logo_3.jpg",
            "website": "www.airplex.ru",

        },
{
            "link": "/companies/atlant",
            "name": "АЭРОТРЕЙД - производственная компания",
            "location": "Иркутск",
            "profile": "Водная техника и запчасти на заказ",
            "logo": "/logo_3.jpg",
            "website": "www.newairboat.ru",

        },
        {
            "link": "/companies/atlant",
            "name": "Атлант",
            "location": "Хабаровск",
            "profile": "Продажа новых и контрактных автозапчастей",
            "logo": "/logo_3.jpg",
            "website": "severboat.ru",

        },
        {
            "link": "/companies/atlant",
            "name": "Атлант",
            "location": "Владивосток",
            "profile": "Продажа новых и контрактных автозапчастей",
            "logo": "/logo_2.jpg",
            "website": "",

        },
    ] %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        {% if loop.last %}
                            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="href={{ breadcrumb.link }}">{{ breadcrumb.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
            <section class="company">
                <h1>Справочник компаний</h1>

                <form>
                    <div class="form-row my-3">
                        <div class="col-12 col-md mb-3 mb-md-0">
                            <input type="text" class="form-control" placeholder="Название компании">
                        </div>
                        <div class="col-6 col-md-auto">
                            <select class="custom-select" id="tech-type" >
                                {% for location in locations %}
                                    <option{% if loop.first %} selected{% endif %}>{{location.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 col-md-auto">
                            <button class="btn btn-primary btn-block">Найти</button>
                        </div>
                    </div>
                </form>

                <div class="paragraph-sm text-muted">Найдено <strong>3 289</strong> компаний:</div>

                <div class="mt-3">
                    {% for company in companies %}
                        <div class="company-list-card pb-3 mb-3">
                            <div class="row ">
                                <div class="col-6 col-md-3 company-logo">
                                    <img class="mt-1" src="/images/{{ company.logo }}"
                                         alt="{{ company.name }}" title="{{ company.name }}">
                                </div>
                                <div class="col-12 col-md order-first order-md-0 company-body mb-2 mb-md-0">
                                    <div class="title"><a href="{{ company.link }}">{{ company.name }}</a></div>
                                    <div class="profile mt-1 mt-md-2">{{ company.profile }}</div>
                                </div>
                                <div class="col-6 col-md-3 company-detail">
                                    {% if company.website %}
                                    <div class="text-nowrap">
                                        <a href="http://{{ company.website }}" target="_blank">
                                        <svg class="icon-size-18 d-inline-block mb-1"><use xlink:href="#icon-extlink"></use></svg>
                                        {{ company.website }}
                                        </a>
                                    </div>
                                    {% endif %}
                                    <div class="text-nowrap text-muted">
                                        <svg class="icon-size-18 d-inline-block mb-1"><use xlink:href="#icon-geolocation"></use></svg>
                                        {{ company.location }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <nav aria-label>
            <ul class="pagination mt-3">
                    <li class="page-item disabled"><a class="page-link" href="#"><svg class="icon-size-18 d-inline-block"><use xlink:href="#icon-page-left"></use></svg></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#"><svg class="icon-size-18 d-inline-block"><use xlink:href="#icon-page-right"></use></svg></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-fixed d-none d-lg-block">
            <img src="https://via.placeholder.com/240x400" alt="">
        </div>
    </div>
{% endblock %}
