//
// Product page
// ---------------------------------------------------

//
// Layouts

.pdetails-page {
	.clearfix();
}

.pdetails-aside {
	position: relative;
	float: left;
	width: 340px;
}

.pdetails-content {
  margin-left: 360px;
}


//
// Header

.pdetails-header {
  margin-bottom: @line-height-computed;

  h1 {
    margin-bottom: (@line-height-computed / 4);
    span {
      display: inline-block;
    }
  }

  .meta {
    margin-bottom: 0;
    font-size: @font-size-small;
    color: #687483;
  }
}


//
// VIP VIP VIP !!!

.product-vip {
	position: absolute;
  z-index: 2;
	top: -5px;
	left: -5px;
	width: 91px;
	height: 90px;
	background-image: url(@vipBadge);
}


//
// Product photo

.pdetails-photos {
  margin-bottom: @line-height-computed;
}

.pdetails-photo-lg {
  position: relative;
  width: 340px;
  height: 255px;
  cursor: pointer;
  overflow: hidden;
  background-color: #CDD3DA; // TODO : add variables
  border-radius: @border-radius-small;

  img {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .icon-24-zoom {
    position: absolute;
    bottom: 4px;
    left: 4px;
  }
}

.pdetails-thumbs {
  margin-right: -1px;
  overflow: hidden;

  .thumb {
    display: block;
    float: left;
    width: 56.8333px;
    padding: 1px 1px 0 0;

    span {
      position: relative;
      display: block;
      height: 42px;
      background-color: #ccc; // TODO
      background-repeat: no-repeat;
      background-position: center;
      border-radius: @border-radius-small;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: @border-radius-small;
      }
    }

    &.active {
      span:after {
        border-width: 2px;
        border-color: @link-color;
      }
    }
  }
}


//
// Price

.pdetails-price {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: (@line-height-computed / 4);
  padding: 1px;
  font-size: @font-size-largest;
  line-height: @line-height-small;
  font-weight: 400;
  border: 1px solid @blue;
  background-color: @blue-light;
  border-radius: 3px;

  .inner {
    display: block;
    padding: 3px 10px;
    border: 1px dashed @blue;
    border-radius: 2px;
  }

  &.hot {
    border-color: @red;
    background-color: #fff;

    .inner {
      border-color: @red;
    }
  }
}


//
// Availability

.pdetails-availability {
  display: inline-block;
}


//
// Warning

.pdetails-warning {
  position: relative;
  margin-bottom: 14px;
  padding: 10px 0 14px;
  font-size: @font-size-small;
  line-height: @line-height-small;

  p {
    margin-bottom: 0;
    & + p {
      margin-top: 5px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 340px;
    height: 1px;
    background-color: @hr-border;
  }

  .report-link {
    display: inline-block;
    margin-top: 10px;
    padding-left: 32px;
    line-height: 24px;
    font-size: @font-size-base;
    color: @red;
    text-decoration: none;

    .icon-24-report {
      float: left;
      margin-top: -1px;
      margin-left: -32px;
    }
  }
}


//
// Product features

.pdetails-features {
  margin: 0 0 (@line-height-computed / 2);
  padding: 0;
  list-style: none;

  li {
    padding: 4px 0 4px 110px;
    overflow: hidden;

    .title {
      display: inline-block;
      float: left;
      width: 100px;
      margin-left: -110px;
      color: #687483;
      font-size: @font-size-small;

      &:after {
        content: ':';
      }
    }
  }
}


//
// Seller block

.pdetails-seller {
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}


//
// Product contacts

.pdetails-seller-contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-left: 70px;
    overflow: hidden;

    & + li {
      padding-top: 10px;
    }

    .title {
      display: inline-block;
      float: left;
      width: 60px;
      margin-top: 1px;
      margin-left: -70px;
      font-size: @font-size-small;
      color: #687483;

      &:after {
        content: ':';
      }
    }

    .phone {
      margin-bottom: 5px;
      font-size: @font-size-large;
    }
    
    p:last-child {
      margin-bottom: 0;
    }

    .confirm-phone {
      display: inline-block;
      padding-left: 18px;
      font-size: 10px;
      text-transform: uppercase;
      color: @green;
      background: @confirm-icon no-repeat left center;
      cursor: default;
    }

    &.data {
      padding-left: 0;
      font-size: @font-size-small;
      line-height: @line-height-small;
    }
  }
}

//.pdetails-seller-location {
//  height: 100px;
//  margin: 14px -14px -14px;
//  overflow: hidden;
//
//  a {
//    display: block;
//    width: 100%;
//    height: 100%;
//    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
//  }
//}






.product-page-admin {
  // margin: @line-height-computed / 2 0 @line-height-computed * 2;

  h3 {
    font-size: @font-size-base;
    color: @text-color;
  }

  ul {
    margin-left: 20px;
  }
}



.catalog-block {
	margin: @line-height-computed 0;

	h2, h3 {
		margin-bottom: 0;
	}

	table {
		width: 100%;
		margin: @line-height-computed 0 0;
		font-size: @font-size-small;
		table-layout: fixed;

		td {
			vertical-align: top;
		}

		td p {
			margin-bottom: @line-height-computed;
			line-height: @line-height-small;
		}

		td a {
			color: @text-color;

			&:hover {
				color: @link-color;
			}
		}

		td + td {
			padding-left: 20px;
		}
	}
}