.gds-table {
  width: 100%;
  margin-bottom: @line-height-computed;
  font-size: @font-size-base;
  line-height: @line-height-base;
  border-bottom: 1px solid #E6E9ED; // TODO : add variables
  border-collapse: collapse;
  border-spacing: 0;

  thead tr th {
    text-align: left;
    font-weight: normal;
    border-bottom: 2px solid #E6E9ED; // TODO : add variables

    h2 {
      margin-top: 4px;
      font-size: @font-size-base;
      font-weight: 400;
      color: @text-color;
    }
  }

  tbody tr td {
    border-bottom: 1px dotted #E6E9ED; // TODO : add variables

    &.photo {
      border-bottom: none;
    }
  }

  tbody tr.express td,
  tbody tr.actions td {
    border-bottom: none;
  }

  tbody tr td {
    padding: 20px 0 10px;
    vertical-align: top;
    text-align: left;

    & + td {
      padding-left: 20px;
    }
  }

  a:visited {
    color: #666;
  }


  // Photo
  // ---------------------------------

  tbody tr td.photo {
    position: relative;
    width: 160px;
    padding-top: 10px;
    padding-right: 20px;

    & + td {
      padding-left: 0;
    }

    a {
      position: relative;
      z-index: 1;
      display: block;
      width: 170px;
      height: 130px;
      padding: 4px;
      border: 1px solid @hr-border;
      background-color: #FFFFFF;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: @border-radius-small;

      &:hover {
        box-shadow: 0 1px 2px rgba(0,0,0,.08);
      }

      span {
        position: absolute;
        left: -1px;
        bottom: -1px;
        padding: 0 5px;
        font-size: 11px;
        line-height: @line-height-computed;
        color: #FFFFFF;
        background-color: rgba(0,0,0,.65); // TODO : add variables
        border-top-right-radius: @border-radius-small;
        border-bottom-left-radius: @border-radius-small;
      }
    }
  }

  &.gds-table-tiny tbody tr td.photo {
    width: 100px;

    a {
      width: 100px;
      height: 100px;
    }
  }


  // Title
  // ---------------------------------

  tbody tr td.title {
    h3 {
      margin: 0;
      padding: 0;
      font-size: @font-size-base;
      font-weight: 700;
      line-height: @line-height-base;
    }

    p {
      margin: 5px 0 0;
      font-size: @font-size-base;
    }

    .desc {
      max-width: 260px;
      font-size: @font-size-small;
      line-height: @line-height-small;
      .text-overflow;

      & + .desc {
        margin-top: 3px;
      }
    }
  }


  // Date
  // ---------------------------------
  tbody tr td.date {
    width: 70px;

    .g-sprite.up {
      margin-top: -6px;
    }
  }

  tbody tr td.date, small {
    font-size: @font-size-small;
    color: grey;
  }


  // Price
  // ---------------------------------

  tbody tr td.price {
    text-align: right;
    white-space: nowrap;
  }

  tbody tr td.title .price {
    width: 90px;
    float: right;
    margin-left: 20px;
    margin-bottom: (@line-height-computed/4);
    text-align: right;
    white-space: nowrap;
  }


  // Seller
  // ---------------------------------

  tbody tr td.seller {
    span {
      display: block;
      width: 138px;
      .text-overflow;
    }
  }


  // Express status
  // ---------------------------------

  tbody tr.express {
    background-color: #FCEFEF;
  }


  tbody tr.sold {
    .opacity(.75);

    h3 a {
      text-decoration: line-through;
    }
  }


  // VIP Status
  // ---------------------------------

  .vip {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: @font-size-small;
    font-weight: 700;
    line-height: @line-height-computed;
    color: @red;
    letter-spacing: 1px;
  }


  // Actions (edit, delete, sell)
  // ---------------------------------

  tbody tr.action-target td + td {
    padding-bottom: 45px;
  }

  tbody tr.actions td {
    padding: 0 0 0 190px;
    border-bottom: none;

    ul {
      margin: -39px 0 0;
      padding: 0;
      list-style: none;
      overflow: hidden;

      li {
        float: left;
        margin-right: 10px;
        padding: 4px 10px;
        font-size: @font-size-small;
        border: 1px solid #CDD3DA; // TODO : add variables
        background-color: #fff;
        border-radius: @border-radius-small;

        span {
          margin-top: -1px;
        }

        a {
          text-decoration: none;
          color: @text-color;

          &:hover {
            color: @link-color;
          }
        }
      }
    }
  }
}


//.products-table {
//	width: 100%;
//	margin-bottom: @line-height-computed * 1.5;
//
//	tr th {
//		text-align: left;
//		border-bottom: 1px solid @gray-lighter;
//
//		h2 {
//			margin-top: 4px;
//			font-size: @font-size-base;
//			font-weight: 400;
//			color: @text-color;
//		}
//
//		select {
//			margin-bottom: 0;
//		}
//	}
//
//	tr td {
//		padding: 10px 0;
//		line-height: @line-height-small;
//		border-bottom: 1px solid @gray-lighter;
//
//		+ td {
//			padding-left: 20px;
//		}
//
//		&.thumb {
//			width: 160px;
//			padding-right: 20px;
//			border-bottom: 0;
//
//			+ td {
//				width: 30%;
//				padding-left: 0;
//			}
//
//			.img-block {
//				position: relative;
//        width: 170px;
//        height: 130px;
//        padding: 4px;
//				text-decoration: none;
//        border: 1px solid #CDD3DA; // TODO : add variables
//        background-color: #FFFFFF;
//        background-repeat: no-repeat;
//        background-position: center;
//        border-radius: @border-radius-base;
//
//				span {
//					position: absolute;
//					bottom: -1px;
//					left: -1px;
//					display: inline-block;
//					padding: 2px 8px;
//					font-size: @font-size-smallest;
//					color: #fff;
//					background: #687483; // TODO : add variables
//          border-radius: 0 @border-radius-base 0 @border-radius-base;
//				}
//			}
//		}
//
//
//		h3 {
//			margin-bottom: 0;
//			font-size: @font-size-base;
//			font-weight: 400;
//
//			a:visited {
//				color: @link-color-visited;
//			}
//
//			&.sales a {
//				text-decoration: line-through;
//			}
//		}
//
//		span {
//			.text-overflow();
//		}
//
//		small {
//			color: @gray-dark;
//		}
//	}
//
//	tr.hot {
//		border-top: 5px solid #FFFFFF;
//		border-bottom: 5px solid #FFFFFF;
//	}
//
//	tr.hot + tr.hot {
//		border-top-width: 10px;
//	}
//
//	tr.hot td {
//		padding-top: 0;
//		padding-bottom: 0;
//		border: none;
//		background-color: @blue-light;
//
//		.img-block {
//			box-shadow: 10px 0 20px -13px rgba(0,0,0,.65);
//		}
//
//		h3 {
//			font-weight: 700;
//		}
//	}
//
//}
//
//.products-table.products-table-parts {
//
//	tr td.thumb {
//		width: 160px;
//		padding-right: 20px;
//		border-bottom: 0;
//
//		+ td {
//			width: auto;
//			padding-left: 0;
//		}
//	}
//
//	tr td h3 {
//		margin-bottom: @line-height-computed / 2;
//
//		+ p {
//			font-size: @font-size-small;
//		}
//	}
//
//	tr td.price {
//		width: 120px;
//	}
//
//	tr td.place {
//		width: 180px;
//	}
//}