.showcase-wrap {
  position: relative;
  margin-bottom: @line-height-computed;
  padding: 14px 40px;
  border: 1px solid @hr-border;
  border-radius: @border-radius-base;

  h1 {
    margin-bottom: 14px;
    font-size: @font-size-large;
    letter-spacing: 0;
    font-weight: 400;
    color: @orange;
  }
}

.showcase {
  position: relative;
  height: 230px;
  margin: 0;
  overflow: hidden;
}

.showcase-list {
  position: absolute;
  margin-bottom: 0;
}

.showcase-list li {
  width: 200px;
  float: left;
  margin-right: 10px;
  padding-bottom: 10px;
  line-height: @line-height-computed;
  overflow: hidden;
  background-color: #F3F4F6;
  border-radius: @border-radius-small;
  
  .title,
  .place,
  .price {
    display: block;
    margin: 0 10px;
    .text-overflow();
  }

  .img-block {
    width: 200px;
    height: 150px;
    margin-bottom: (@line-height-computed / 2);
  }

  .price {
    color: @text-color;
  }

  .title {
    color: @link-color;
    text-decoration: underline;
  }

  .place {
    font-size: @font-size-small;
  }

  a {
    color: @gray-dark;
    text-decoration: none;
  }

  a:hover .title {
    color: @text-color;
  }
}

.showcase-nav-right, 
.showcase-nav-left {
  position: absolute;
  top: 50%;
  margin-top: -20px; 
  width: 30px;
  height: 40px;
  border: 1px solid @hr-border;
}

.showcase-nav-right {
  right: -1px;
  background-position: -1px -232px;
  border-radius: @border-radius-small 0 0 @border-radius-small;
}

.showcase-nav-left {
  left: -1px;
  background-position: -1px -192px;
  border-radius: 0 @border-radius-small @border-radius-small 0;
}

.showcase-footer {
  margin: 25px -30px -15px;
  padding: 16px 30px;
  border-top: 1px solid @hr-border;
  background-color: @gray-lighter;
  border-bottom-left-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;

  h2 {
    margin-bottom: 0;
    font-size: @font-size-base;
    font-weight: 400;
    color: @gray-dark;
  }
}