// Special blocks for Hot Chicks
// ------------------------------------
//.special-blocks {
//
//}
//
//.special-blocks ul {
//  margin-left: -.98%;
//  margin-right: -.98%;
//  list-style: none;
//  font-size: @font-size-small;
//  .clearfix-light;
//}
//
//.special-blocks ul > li {
//  width: 33.31%;
//  float: left;
//  margin-bottom: @line-height-computed / 2;
//  padding: 0 1%;
//  line-height: @line-height-small;
//
//  &.come-on a {
//    background-color: @blue-light;
//    text-align: center;
//
//    span {
//      display: block;
//      margin: 90px 10px 0;
//      font-size: @font-size-base;
//    }
//  }
//}
//
//.special-blocks ul > li > a {
//  display: block;
//  height: 237px;
//  overflow: hidden;
//  border: 1px solid @gray;
//  background-color: #FFFFFF;
//  border-radius: @border-radius-base;
//  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
//
//  i {
//    display: block;
//    height: 50px;
//    margin-bottom: 10px;
//    overflow: hidden;
//    color: @link-color;
//    font-style: normal;
//  }
//
//  &:hover i {
//    color: @link-color-hover;
//    text-decoration: underline;
//  }
//}
//
//.special-photo {
//  display: block;
//  height: 150px;
//  background-repeat: no-repeat;
//  background-position: center;
//}
//
//.special-blocks .special-content {
//  display: block;
//  padding: 5px 15px 0;
//  overflow: hidden;
//
//  span {
//    padding-bottom: 10px;
//    color: @gray-dark;
//    vertical-align: top;
//  }
//}


// Special offers
// ---------------------------------

.special-offers {
  margin: 0 -5px (@line-height-computed / 2);
  padding: 0;
  list-style: none;
  .clearfix;

  .offer-contain {
    width: 50%;
    float: left;
    padding: 0 5px 10px;
  }

  .offer {
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    outline: none;
    border: 1px solid #CDD3DA; // TODO : add variables
    border-radius: @border-radius-small;

    .thumb {
      display: block;
      float: left;
      width: 160px;
      height: 120px;
      overflow: hidden;
      margin-right: 10px;
      background-color: #F3F4F6; // TODO : add variables
    }

    .title {
      display: block;
      margin: 8px 10px 0 0;
      font-size: @font-size-base;
      line-height: @line-height-small;
      text-decoration: underline;
    }

    .desc {
      position: absolute;
      bottom: 4px;
      left: 170px;
      display: block;
      font-size: @font-size-small;
      color: grey;
    }

    &:visited .title {
      color: grey;
    }
  }

  .offer-contain.come-on .offer {
    border-style: dashed;

    .thumb {
      width: 159px;
    }

    &:visited .title {
      color: inherit;
    }
  }
}