.btn {
  display: inline-block;
  margin-bottom: 0;
  font-family: @font-family-base;
  font-weight: @btn-font-weight;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-computed; @btn-border-radius);
  .user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    box-shadow: 0 1px 2px rgba(0,0,0,.12);
  }

  &:active,
  &.active {
    outline: 0;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
  }

  &.btn-loading {
    color: transparent !important;
    border-color: @link-color !important;
    background: url(@btn-loading) repeat center !important;
    box-shadow: none !important;
  }
}

a.btn {
  &,
  &:link,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  .button-variant(@btn-default-color; @btn-default-background-start; @btn-default-background-end; @btn-default-border);
}

.btn-primary {
  .button-variant(#FFFFFF; @btn-primary-background-start; @btn-primary-background-end; @btn-primary-border);
}

.btn-bordered {
  .button-variant(@btn-default-color; #FFFFFF; #FFFFFF; @btn-default-border);
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  .button-size(@padding-lg-vertical; @padding-lg-horizontal; @font-size-base; @line-height-computed; @border-radius-base);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


// File input button
//---------------------------
.btn-fileinput {
  position: relative;    
  overflow: hidden;
    
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 30px;
    direction: ltr;
    cursor: pointer;
    transform: translate(-600px, 0) scale(4);
    .opacity(0);
  }  
}


// Heading toggle
// ------------------------------
a.heading-toggle { 
  display: inline-block;
  padding: 2px 6px;
  font-size: inherit;
  text-decoration: none;
  border: 1px dotted @inputBorder;
  border-radius: @border-radius-base;
  
  .btn-arrow {
    top: -2px;  
    margin-left: 2px;
  }
  
  &:hover, &:focus, &.active {
    outline: none;
    color: @link-color;
    border-style: solid;
    border-color: @link-color;
  }  
}

.btn-arrow {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  border: 1px solid @gray-dark;
  border-color: rgba(0,0,0,.6);
  background-color: #FFFFFF;
  background-image: url('data:image/gif;base64,R0lGODlhBwAEAIAAAGZmZv///yH5BAAHAP8ALAAAAAAHAAQAAAIHRH5miYp8CgA7');
  background-repeat: no-repeat;
  background-position: center;

  border-radius: @border-radius-small;
  .opacity(45);
}

// Button arrow states
a:hover, a:focus, a.active { 

  .btn-arrow { 
    border-color: @blue;
    background-image: url('data:image/gif;base64,R0lGODlhBwAEAIAAAACZ/////yH5BAAHAP8ALAAAAAAHAAQAAAIHRH5miYp8CgA7');
    .opacity(100);
  } 
}


.btn-fileinput {
  position: relative;
  overflow: hidden;
}

.btn-fileinput input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 32px;
  direction: ltr;
  cursor: pointer;
  .opacity(0);
  -webkit-transform: translate(-600px, 0) scale(4);
     -moz-transform: translate(-600px, 0) scale(4);
          transform: translate(-600px, 0) scale(4);
}


.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #ccc;
}