// Loading state
// ---------------------------------------------------
input, select, textarea, .uneditable-input {
  
  &.loading {
    padding-right: 28px;
    background-image: url(@preloader16x16);
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
}


// Disabled state
// ---------------------------------------------------
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  border-color: @inputBorder;
  background-color: @inputDisabledBackground;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}



// Form field feedback states
// ---------------------------------------------------
.field-state {
  position: relative;
  display: inline-block;
  
  // message
  .field-state-message {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 100%;
    margin: -14px 0 0 9px;
    padding: 0 4px;
    font-size: @font-size-smallest;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: @gray;
    border-radius: @border-radius-small;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: -4px;
      margin-top: -4px;
      border-width: 4px 4px 4px 0;;
      border-style: solid;
      border-color: transparent;
      border-right-color: @gray;
    }

    &.inline {
      top: 100%;
      left: 8px;
      margin: -20px 0 0 0;
    }
  }

  &.field-state-block {
    width: 100%;
  }
}

// Error
.field-state.error {
  .formFieldState(@red, @red, #FFFFFF);

  .field-state-message {
    display: block;
  }
}
// Success
.field-state.success {
  .formFieldState(@green, @green, #FFFFFF);

  .field-state-message {
    display: block;
  }
}


// .action-field {
//   display: inline-block;
//   position: relative;
//   cursor: pointer;

//   &:after {
//     display: none;
//     content: '';
//     position: absolute;
//     border: 1px solid #ccc;
//     height: 100%;
//     width: 100%;
//     left: -7px;
//     padding: 2px 6px;
//     top: -3px;
//     border-radius: 3px;
//     z-index: 10;
//     background-color: transparent;
//   }

//   &:hover:after,
//   &.active:after {
//     display: block;
//   }

//   &.active:after {
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//   }

//   &.active input[type="text"] {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border: none;
//     box-shadow: none;
//     top: 0px;
//     left: 0;
//     z-index: 20;
//     margin: 0;
//   }

//   &.active .btn {
//     position: absolute;
//     left: 100%;
//     margin-left: 6px;
//     top: -3px;
//     width: 30px;
//     height: 30px;
//     z-index: 21;
//     border-radius: 0 3px 3px 0;
//   }
// }