// Captcha
// ---------------------------------------------------
.captcha {
  width: 220px;
  height: 70px;
  margin-bottom: (@line-height-computed / 2);

  input[type="text"] {
    position: relative;
    float: left;
    height: 60px !important;
    width: 100px;
    margin-bottom: (@line-height-computed / 4);
    font-size: 32px;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .captcha-img {
    float: left;
    width: 120px;
    height: 60px;
    border: 1px solid @inputBorder;
    border-left: 0;
    border-top-right-radius: @border-radius-small;
    border-bottom-right-radius: @border-radius-small;
  }

  .captcha-img-reload {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 90px;
    margin-top: -15px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: @captcha-reload;
    background-color: #FFFFFF;
  }
}


// Phone
// ---------------------------------------------------
input.input-phonecode {
  height: 60px !important;
  width: 120px;
  font-size: 32px;
  text-align: center;
}

label.input-addon.input-phone {
  span {
    color: @text-color;
  }
}

.help-inline {
  display: inline-block;
  margin-left: 10px;
  font-size: @font-size-small;
}

.help-block {
  display: block;
  font-size: @font-size-smallest;
  line-height: @line-height-small;
  color: @gray-dark;
}


.control-label {
  margin-bottom: @line-height-computed / 2;
  font-size: @font-size-small;
  line-height: @line-height-small;

  &.required {
    font-weight: 700;

    &:before {
      content: '*';
      position: absolute;
      margin-left: -10px;
      font-size: @font-size-large;
      color: @red;
    }
  }
}


.form-action {
  padding: 20px;
  background-color: @gray-lighter;
  border-radius: @border-radius-base;
}


.form-horizontal .control-group {
  padding-bottom: 10px;
  padding-left: 180px;
}

.form-horizontal .control-label {
  width: 160px;
  float: left;
  margin-left: -180px;
  padding-top: 6px;
}

.form-horizontal .form-title {
  margin-left: 180px;
  margin-bottom: @line-height-computed;
}

.form-horizontal hr {
  margin: @line-height-computed / 2 0 @line-height-computed * 1.5 180px;
}

.form-horizontal .form-action {
  margin-top: @line-height-computed;
  padding-left: 180px;
}


.form-vertical .control-group {
  margin-bottom: @line-height-computed;
}

