// General styles
// ---------------------------------------------------
form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label, input, button, select, textarea {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: normal;
}

label {
  display: block;
  margin-bottom: @line-height-computed / 4;
  line-height: @line-height-small;
}


// Form controls
// ---------------------------------------------------
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.input-addon div {
  display: inline-block;
  width: 100%;
  height: @inputHeight;
  margin-bottom: @line-height-computed / 2;
  padding: @inputPadding;
  line-height: @inputLineHeight;
  color: @text-color;
  vertical-align: top;
  border: 1px solid @inputBorder;
  background-color: @inputBackground;
  border-radius: @border-radius-small;

  .transition(~'border linear .2s, box-shadow linear .2s');

  // Focus state
  &:focus {
    outline: 0;
    border-color: @link-color;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
  }

  &.pull-right,
  &.pull-left {
    width: auto;
  }
}

select {
  padding: 5px; 
}

textarea {
  height: auto;
  overflow: auto;
  resize: vertical;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

.uneditable-input {
  cursor: default;
  background-color: #f8f8f8;
}


// Input group
// ---------------------------------------------------
label.input-addon {
  position: relative;
  display: table; 
  width: 100%;
  height: @inputHeight;
  margin-bottom: @line-height-computed / 2;
  padding: 0 1px;
  cursor: text;
  background-color: #FFFFFF;
  border-radius: @border-radius-small;

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @inputHeight;
    padding: 0;
    background-color: transparent;
  }

  input {
    position: relative;
    z-index: 2;
    top: 1px;
    display: table-cell;
    height: (@inputHeight - 2);
    margin-bottom: 0;
    border-color: transparent;
    background-color: transparent;

    &:focus {
      border-color: transparent;
      box-shadow: none;

      & + div {
        border-color: @link-color;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
      }
    }

    &[disabled] + div {
      cursor: not-allowed;
      background-color: rgba(0,0,0,.03);
    }
  }

  .append,
  .prepend {
    display: table-cell;
    width: 1%;
    line-height: @line-height-computed;
    vertical-align: middle;
    white-space: nowrap;
    color: @gray-dark;
  }

  .append {
    padding-right: 8px;
  }

  .prepend {
    padding-left: 8px;
  }
}


// Field sizes
// ---------------------------------------------------
&, input, select, textarea, .uneditable-input, label.input-addon {
  
  &.field-size-l { width: 320px; }
  &.field-size-m { width: 220px; }
  &.field-size-s { width: 90px; }
}