// Checkbox & Radio buttons
// ---------------------------------------------------
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0 0;
  line-height: normal;
}

.radio, .checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
  line-height: @line-height-small;
  cursor: default;
  
  small {
    color: @gray-dark;
  }

  label {
    display: inline;
  }

  input {
    float: left;
    margin-left: -20px;
    cursor: pointer;
  }
}

// Checkbox, radio inline classes
.checkbox.inline, 
.radio.inline { 
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}


input, select, textarea,
.checkbox.inline, .radio.inline {

  + .checkbox.inline,
  + .radio.inline { 
    margin-left: 10px; 
  } 
}


// Radio button
// ---------------------------------------------------
.radio-btn {  
  display: inline-block;
  .text-overflow;

  &:first-child label {
    border-top-left-radius: @border-radius-small;
    border-bottom-left-radius: @border-radius-small;
  }

  &:last-child label {
    border-top-right-radius: @border-radius-small;
    border-bottom-right-radius: @border-radius-small;
  }
}

.radio-btn label {
  height: @inputHeight;   
  margin-bottom: 0;            
  padding: @inputPadding;                
  line-height: @inputLineHeight;
  cursor: pointer;

  border: 1px solid @inputBorder;
  background-color: @inputBackground;
}

.radio-btn input {
  float: left;
  margin-left: -30px;

  &:checked + label {
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    border-color: @link-color;
    background-color: @link-color;
  }
}

.radio-group {
  overflow: hidden;
}

.radio-group .radio-btn {
  float: left;

  + .radio-btn {
    margin-left: -1px;
  }
}


// Checkbox button
// ---------------------------------------------------
.checkbox-btn {
  position: relative;
  display: inline-block;
  height: @inputHeight;
  padding-left: 28px;
}

.checkbox-btn label {
  height: @inputHeight;
  margin-bottom: 0;
  margin-left: -28px;
  padding: 3px 8px 3px 28px;
  line-height: @inputLineHeight;
  cursor: pointer;
  border: 1px solid @inputBorder;
  background-color: #FFFFFF;
  border-radius: @border-radius-small;

  .text-overflow;
}

.checkbox-btn input {
  position: absolute;
  float: left;
  margin-top: 7px;
  margin-left: -20px;
}

.checkbox-btn input:checked + label {
  color: #FFFFFF;
  border-color: @link-color;
  background-color: @link-color;
}