.create-ad-nav {
	margin-bottom: @line-height-computed;
}

.create-ad-nav .column {
	padding: 10px 0;
	line-height: @line-height-small;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: @blue-light;
	border-radius: @border-radius-base;
	
	strong {
		color: @text-color;
	}

	small {
		color: @gray-dark;
	}

	&.active {
		border-color: @link-color;

		strong {
			color: @link-color;
		}
	}
}

.add-page-header {
	margin-bottom: @line-height-computed;
	padding-bottom: 20px;
	border-bottom: 1px dotted @hr-border;

	h1 {
		margin-bottom: @line-height-computed / 4;
	}
}

.add-page {
	padding-right: 320px;
}

.add-photo {
	width: 300px;
	float: right;
	margin-right: -320px;
}

.add-photo .list-iconized {
	margin-top: (@line-height-computed / 2);
	font-size: @font-size-small;

  li {
    line-height: @line-height-small;
  }

	[class*="icon-"] {
		margin-left: -36px;
	}
}

.add-photo .main-photo {
	position: relative;
	width: 300px;
	margin-bottom: @line-height-computed / 2;
	text-align: center;
	border: 1px solid @gray;
	background-color: #FFFFFF;
	border-radius: @border-radius-base;
	box-shadow: 2px 2px 2px rgba(0,0,0,.1);

	.btn {
		width: 100%;
		vertical-align: middle;
	}

	.action {
		padding: 10px;
		border-bottom: 1px solid @hr-border;
	}

	.photo {
		width: 300px;
		height: 300px;
		background-image: url('../images/add-photo.png');
		background-repeat: no-repeat;
		background-position: center;
	}
}

.add-photo .preview {
	position: static;
	margin: (@line-height-computed / 2) 0;
	overflow: auto;
}

.add-photo .preview li {
	position: relative;
	height: 60px;
	margin-bottom: (@line-height-computed / 2);
	padding: 10px;
  cursor: move;
	background-color: @gray-lighter;

	.img-block {
		width: 60px;
		height: 60px;
		float: left;
		margin: -10px 10px 0 -10px;
		background-color: @gray-lighter;
	}

	.handle {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 29px;
		height: 100%;
		background-color: @gray-light;
		background-image: url(@moveArrow);
		background-repeat: no-repeat;
		background-position: center;
		cursor: move;
	}

	&.active,
	&.active .img-block {
		background-color: @blue-light;
	}
}