.alert {
  margin-bottom: @line-height-computed;
  min-height: 44px;
  padding: 10px 20px;
  color: #FFFFFF;
}

.alert-success {
  background-color: @green;
}

.alert-error {
  background-color: @red;
}

.alert-warning {
  background-color: @orange;
}

.alert-fixed {
  position: fixed;
  z-index: 9999;
  top: 30px;
  left: 50%;
  // display: none;
  visibility: hidden;
  opacity: 0;
  width: 640px;
  margin-left: -320px;
  padding-right: 50px;
  border-radius: @border-radius-base;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.5);

  .transition(~'top .3s, opacity .3s');

  &.alert-success,
  &.alert-error,
  &.alert-warning {
    visibility: visible;
    opacity: 100;
    top: 50px;
  }
}

.modal-body .alert {
  margin-right: -17px;
  margin-left: -19px;
}