.dadu {
  margin-bottom: @line-height-computed;
}

.dadu-context {
  margin-top: -1px;
  padding: 14px;
  line-height: @line-height-small;
  border: 1px dashed #EAE27F;
  background-color: #FEFEF8;

  //& + .dadu-context {
  //  margin-top: -1px;
  //}
}

.dadu-context a {
  color: @text-color;
  text-decoration: none;
  
  span {
    display: block;
  }

  &:hover .dadu-context-title {
    color: @text-color;
  }
}

.dadu-context-title {
  margin-bottom: 3px;
  color: @link-color;
  text-decoration: underline;
}

.dadu-context-desc {
  font-size: @font-size-small;
}

.dadu-context-link {
  margin-top: 3px;
  font-size: @font-size-small;
  color: @orange;
  text-decoration: underline;
}


.dadu-header,
.dadu-footer {
  position: relative;
  display: block;
  padding: 14px;
  border: 1px dashed #EAE27F;
  background: #FEFEF8 @dadu-header no-repeat left 10px center;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 14px;
    height: 14px;
    margin: auto;
    background: @dadu-plus;
  }
}


.dadu-inline {
  margin-bottom: @line-height-computed;
  padding: 10px;
  text-align: center;
  border: 1px dashed #EAE27F;
  background: #FEFEF8 @dadu-header no-repeat left 4px top 4px;

  a {
    &,
    &:visited {
      &,
      font {
        color: @link-color !important;
      }
    }

    &:hover {
      &,
      font {
        color: @text-color !important;
      }
    }
  }
}