// TODO : add retina images



[class*="icon-"] {
	display: inline-block;
	background-repeat: no-repeat;
}

[class*="icon-m-"],
[class*="icon-add-"] {
	background-image: url(@mainSprite); 
}

[class*="icon-m-"] {
	width: 32px;
  height: 32px;
}

[class*="icon-add-"] {
	width: 24px;
	height: 24px;
}

.icon-m-shop  		{ background-position: 0 0; }
.icon-m-mail  		{ background-position: 0 -32px; }
.icon-m-boat  		{ background-position: 0 -64px; }
.icon-m-forum 		{ background-position: 0 -96px; }
.icon-m-feedback 	{ background-position: 0 -128px; }
.icon-m-user 			{ background-position: 0 -160px; }
.icon-m-nav 			{ background-position: 0 -272px; }

.icon-new-tab {
	width: 8px;
	height: 8px;
	vertical-align: text-top;
	background-image: url(@newTabIcon);
}

.icon-arrow {
	width: 0;
	height: 0;
	border-width: 7px 4px 0;
	border-style: solid;
	border-color: transparent;
	border-top-color: @gray-dark;
}

.icon-exit {
	width: 20px;
	height: 16px;
	vertical-align: text-top;
	background-image: url(@iconExit);
}

.preloader16x16,
.preloader32x32 {
	display: inline-block;
}

.preloader16x16 {
	width: 16px;
	height: 16px;
	background-image: url(@preloader16x16);
}

.preloader32x32 {
	width: 32px;
	height: 32px;
	background-image: url(@preloader16x16);
}


[class*="icon-cat-"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../images/sprite-cat.png');
  background-repeat: no-repeat;
}

.icon-cat-boat {
  background-position: 0 0;
}

.icon-cat-part {
  background-position: -40px 0;
}

.icon-cat-fish {
  background-position: -80px 0;
}

.icon-cat-seller {
  background-position: -120px 0;
}

.icon-cat-forum {
  background-position: -160px 0;
}

.icon-cat-more {
  background-position: -200px 0;
}



//
// Base64

.b64-icon-plus {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: @b64-icon-plus no-repeat center;
}



[class*="icon-add-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url(@sprite-add);

  @media @high-resolution {
    background-image: url(@sprite-add-2x);
    background-size: @sprite-add-size;
  }
}

.icon-add-main {
  background-position: 0 0;
}

.icon-add-move {
  background-position: 0 -24px;
}

.icon-add-alert {
  background-position: 0 -48px;
}



[class*="nophoto-"] {
  background-repeat: no-repeat;
  background-position: center;
  @media @high-resolution {
    background-size: @nophoto-size;
  }
}

.nophoto-water {
  background-image: url(@nophoto-water);
  @media @high-resolution {
    background-image: url(@nophoto-water-2x);
  }
}

.nophoto-parts {
  background-image: url(@nophoto-parts);
  @media @high-resolution {
    background-image: url(@nophoto-parts-2x);
  }
}

.nophoto-fishing {
  background-image: url(@nophoto-fishing);
  @media @high-resolution {
    background-image: url(@nophoto-fishing-2x);
  }
}




[class*="icon-24-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url(@sprite-new);

  @media @high-resolution {
    background-image: url(@sprite-new-2x);
    background-size: @sprite-new-size;
  }
}

.icon-24-profile {
  background-position: 0 0;
  .active & {
    background-position: 0 -34px;
  }
}

.icon-24-ads {
  background-position: -34px 0;
  .active & {
    background-position: -34px -34px;
  }
}

.icon-24-ads-seller {
  background-position: -68px 0;
  .active & {
    background-position: -68px -34px;
  }
}

.icon-24-mail {
  background-position: -102px 0;
  .active &,
  &.accent-color {
    background-position: -102px -34px;
  }
}

.icon-24-messages {
  background-position: -136px 0;
  .active &,
  &.accent-color {
    background-position: -136px -34px;
  }
}

.icon-24-favorites {
  background-position: -170px 0;
  .active & {
    background-position: -170px -34px;
  }
}

.icon-24-wallet {
  background-position: -204px 0;
  .active & {
    background-position: -204px -34px;
  }
}

.icon-24-review {
  background-position: -238px 0;
  .active & {
    background-position: -238px -34px;
  }
}

.icon-24-ads-edit {
  background-position: -272px 0;
  .active & {
    background-position: -272px -34px;
  }
}

.icon-24-sale {
  background-position: -306px 0;
  .active & {
    background-position: -306px -34px;
  }
}

.icon-24-delete {
  background-position: -340px 0;
  .active & {
    background-position: -340px -34px;
  }
}

.icon-24-more {
  background-position: -374px 0;
}

.icon-24-notification {
  background-position: -374px -34px;
}

.icon-24-book {
  background-position: -408px -34px;
}


.icon-24-block-user {
  background-position: 0 -68px;
}

.icon-24-arrow-back {
  background-position: -34px -68px;
}

.icon-24-mark {
  background-position: -68px -68px;
}

.icon-24-up {
  background-position: -102px -68px;
}

.icon-24-vip {
  background-position: -136px -68px;
}

.icon-24-report {
  background-position: -170px -68px;
  a:hover & {
    background-position: -204px -68px;
  }
}

.icon-24-zoom {
  background-position: -238px -68px;
}