#grid > .fluid(@gridColumnWidth);
#grid > .inline(@gridInlineColumnWidth);

// Base
// -------------------------
html {
  height: 100%; 
}

body {
  position: relative;
  min-height: 100%;
}

.global-page-wrap {
  padding-bottom: 160px;
}

.global-page-margin {
	width: auto;
	max-width: 1240px;
	min-width: 960px;
	margin: 0 auto;
  padding: 0 20px;
	.clearfix();
}



.page-content-wrap {
  width: 100%;
  float: left;
}

.page-content {
  padding-right: 260px;
  .clearfix();
}

.col-fluid {
  float: left;
  width: 240px;
  margin-left: -240px;
}



// Header
// -------------------------
.global-header {
	margin-bottom: @line-height-computed;
	border-bottom: 1px solid #E6E9ED; // TODO : add variables
  background: #FFFFFF;
  box-shadow: 0 0 20px 10px rgba(0,0,0,.07);

  .pull-left {
    height: 48px;
    line-height: 48px;
  }

  .btn-bordered {
    color: @orange;
    border-color: #F57926;

    &:hover,
    &:focus {
      color: @orange;
      border-color: #F36100;
      background: #F6F7F8;
      box-shadow: none;
    }

    .b64-icon-plus {
      float: left;
      margin: 3px 6px 0 0;
    }
  }
}


//.global-header .nav-inline {
//	margin-top: 10px;
//	margin-left: 260px;
//}


// Logotype
// -------------------------
.jcboat {
  display: block;
  width: 118px;
  height: 27px;
  font: 0/0 a;
  background-image: url(@JcBoatLogo);
  background-repeat: no-repeat;
  background-position: center;

  .global-header & {
    height: 48px;
    float: left;
    margin-right: 14px;
    margin-left: -4px;
  }
}


// Footer
// -------------------------
.global-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
	height: 120px;
	padding: 20px 0;
	font-size: @font-size-small;
  line-height: @line-height-small;
	color: @gray-dark;
	background-color: #F6F7F8; // TODO : add variables

	p {
    margin-bottom: (@line-height-computed / 4);
  }
  
  .nav-inline {
    margin-left: -10px;
    margin-bottom: 0;
  }
}