//
// List groups
// --------------------------------------------------

@list-group-bg: #FFF;
@list-group-border: @hr-border;
@list-group-border-radius: @border-radius-base;
@list-group-link-color: @text-color;
@list-group-link-heading-color: @text-color;
@list-group-link-hover-color: @text-color;
@list-group-hover-bg: #F3F4F6;
@list-group-active-color: @link-color;
@list-group-active-bg: #F3F4F6;
@list-group-active-border: @hr-border;


// Base

.list-group {
  margin: 0 0 20px;

  ul& {
    padding: 0;
    list-style: none;
  }
}


// Individual list items

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 14px;
  margin-bottom: -1px;
  background-color: @list-group-bg;
  border: 1px solid @list-group-border;

  a& {
    &,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  // Round the first and last items
  &:first-child {
    .border-top-radius(@list-group-border-radius);
  }

  &:last-child {
    margin-bottom: 0;
    .border-bottom-radius(@list-group-border-radius);
  }

  // Iconized
  [class*="icon-24-"] {
    margin: -2px 8px 0 0;
  }
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive items.
// Includes an extra `.active` modifier class for showing selected items.

a.list-group-item,
button.list-group-item {
  color: @list-group-link-color;

  .list-group-item-heading {
    color: @list-group-link-heading-color;
  }

  // Hover state
  &:hover,
  &:focus {
    text-decoration: none;
    color: @list-group-link-hover-color;
    background-color: @list-group-hover-bg;
  }
}

button.list-group-item {
  width: 100%;
  text-align: left;
}

.list-group-item {
  // Disabled state
  //&.disabled,
  //&.disabled:hover,
  //&.disabled:focus {
  //  background-color: @list-group-disabled-bg;
  //  color: @list-group-disabled-color;
  //  cursor: @cursor-disabled;
  //
  //  // Force color to inherit for custom content
  //  .list-group-item-heading {
  //    color: inherit;
  //  }
  //  .list-group-item-text {
  //    color: @list-group-disabled-text-color;
  //  }
  //}

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: @list-group-active-color;
    background-color: @list-group-active-bg;
    border-color: @list-group-active-border;

    // Force color to inherit for custom content
    .list-group-item-heading,
    .list-group-item-heading > small,
    .list-group-item-heading > .small {
      color: inherit;
    }
    .list-group-item-text {
      //color: @list-group-active-text-color;
    }
  }
}

// Custom content options
//
// Extra classes for creating well-formatted content within `.list-group-item`s.

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.2;
}