.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.media,
.media .media {
  margin-bottom: 20px;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
  font-weight: 400;
  line-height: @line-height-base;
}


// Media image alignment
// -------------------------------
.media .pull-left {
  margin-right: 10px;
}
.media .pull-right {
  margin-left: 10px;
}