@import 'mixins/mixin-clearfix.less';
@import 'mixins/mixin-text-overflow.less';
@import 'mixins/mixin-opacity.less';

@import 'mixins/mixin-forms.less';
@import 'mixins/mixin-buttons.less';

@import 'mixins/mixin-css3-properties.less';

@import 'mixins/mixin-gradients.less';
//@import 'mixins/mixin-grid.less';




// Forms
// ------------------------------
.formFieldState(@text-color: @text-color, @borderColor: @gray, @backgroundColor: #FFFFFF) {
  input, 
  select, 
  textarea {
    border-color: @borderColor;

    &:focus {
      @alpha: .15;
      @shadow: 0 0 0 3px hsla(hue(@borderColor), saturation(@borderColor), lightness(@borderColor), @alpha); 
      border-color: @borderColor;
      box-shadow: @shadow;
    }
  }
  
  .checkbox, .radio, input, select, textarea {
    color: @text-color;
  }
  
  .field-state-message {
    background-color: @borderColor;

    &:after {
      border-right-color: @borderColor;    
    }
  } 
}


// CSS3 PROPERTIES
// ------------------------------

// Transition
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

// Gradient background
.gradient-vertical (@startColor: #FFFFFF, @endColor: @gray-lighter) {
  background-color: @endColor;
  background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
}


// Grid system
// ------------------------------
#grid {
  .fluid (@gridColumnWidth) {
    .spanX (@index) when (@index > 0) {
      .span@{index} { .span(@index); }
      .spanX(@index - 1);
    }
    
    .offsetX (@index) when (@index > 0) {
      .offset@{index} { .offset(@index); }
      .offsetX(@index - 1);
    }
    
    .spanX (0) {}
    .offsetX (0) {}
    
    .span (@columns) {
      width: (@gridColumnWidth * @columns);
    }
    
    .offset (@columns) {
      margin-left: (@gridColumnWidth * @columns);  
    }
    
    .row-fluid {
      width: auto;   
      max-width: none;
      margin-right: -(@gridGutterWidth);
      margin-left: -(@gridGutterWidth);
      
      .clearfix();
      
      [class*="span"] {
        float: left;
        padding: 0 @gridGutterWidth;
        .box-sizing(border-box);      
      }
      
      [class*="offset"] {
        padding: 0 @gridGutterWidth;
        .box-sizing(border-box); 
      }
      
    }
    
    .spanX (@gridColumns);
    .offsetX (@gridColumns);
  }    
    
    
  .inline (@gridInlineColumnWidth) {
    .columnsX (@index) when (@index > 0) {
      .columns@{index} { .columns(@index); }
      .columnsX(@index - 1);
    }
    .columnsX (0) {}
    
    
    .columns (@columns) {
      .column {
        width: (@gridInlineColumnWidth / @columns) - 2;
      }  
    }
    
    .columns (@columns) when (@columns = 1) {
      .column { width: @gridInlineColumnWidth; } 
    }
    
    .columns {
      .column { width: auto; }   
    }
    
    [class*='columns'] {
      text-align: justify;
      
      line-height: 0;
      font-size: 1px; // Opera fix
      
      // webkit fix
      -webkit-margin-after: -2px;
      
      // ie7 fix
      *text-justify: newspaper;
      *zoom: 1;

      *text-align-last: justify;
      
      &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;    
      }
      
      .column {
        display: inline;
        *zoom: 1;

        display: inline-block;
        vertical-align: top;
        text-align: left;
        
        font-size: @font-size-base;
        line-height: @line-height-base;
      }
    }
    
    ul.column {
      margin: 0;
      list-style: none;    
    }

    .columnsX (@gridInlineColumns);
  }
}