.panel {
  margin-bottom: @line-height-computed;
  border: 1px solid @hr-border;
  background-color: #FFFFFF;
  border-radius: @border-radius-base;

  // Type
  h2, h3, h4, h5, h6, .page-lead, .page-title {
    margin-bottom: @line-height-computed / 2;
  }

  p:last-child {
    margin: 0;
  }

  hr {
    margin: 14px -14px;
  }
}


// Panel header
.panel-header {
  padding: 14px;
  border-bottom: 1px solid @hr-border;

  // Headings
  h1, h2, h3, h4, h5, h6, .page-heading, .page-lead, .page-title {
    margin-bottom: 0;
  }

  // Meta
  .panel-header-meta {
    display: block;
    margin-top: 5px;
    font-size: @font-size-small;
    line-height: @line-height-small;
  }
}


// Panel body
.panel-body {
  padding: 14px;

  & + & {
    border-top: 1px solid @hr-border;
  }
}



.panel-aside {

  .panel-header {
    position: relative;
    display: block;
    padding: 14px;
    line-height: 20px;

    [class*="icon-24-"] {
      float: left;
      margin-top: -2px;
      margin-right: 10px;
    }

    & + .list-group {
      margin-top: -1px;
    }
  }
}




.panel-tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    display: table-cell;
    text-align: center;
    border-bottom: 1px solid @hr-border;

    & + li {
      border-left: 1px solid @hr-border;
    }

    & > a {
      display: block;
      padding: 10px;

      &,
      &:hover,
      &:focus {
        color: @text-color;
        text-decoration: none;
        outline: none;
      }
    }

    &.active {
      border-bottom: none;

      a {
        cursor: default;
      }
    }
  }
}

.bg-green {
  background-color: #DBF4C2;
}



// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel {
  .list-group,
  .panel-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        .border-top-radius((@border-radius-base - 1));
      }
    }

    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        .border-bottom-radius((@border-radius-base - 1));
      }
    }
  }
  > .panel-heading + .panel-collapse > .list-group {
    .list-group-item:first-child {
      .border-top-radius(0);
    }
  }
}
// Collapse space between when there's no additional content.
.panel-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .panel-footer {
  border-top-width: 0;
}