//@media only screen and (max-width : 1024px) {
//
//  .page-content {
//    margin-left: 0;
//    padding: 90px 0 0 90px;
//  }
//
//  .page-aside {
//    width: 60px;
//    border-right: 1px solid @hr-border;
//  }
//
//  .global-category {
//    position: absolute;
//    z-index: 99;
//    top: 60px;
//    left: 0;
//    width: 100%;
//    padding-top: 5px;
//    padding-bottom: 0;
//    border: none;
//    border-bottom: 1px solid @hr-border;
//    border-radius: 0;
//    box-shadow: none;
//
//    & > ul > li {
//      float: left;
//
//      &.divider {
//        display: none;
//      }
//
//      &.responsive-divider {
//        display: block;
//        float: none;
//        height: 0;
//        width: 100%;
//        overflow: hidden;
//      }
//    }
//  }
//
//  .global-category .submenu-toggle,
//  .global-category .submenu-toggle:hover {
//    padding-bottom: 5px;
//    background-image: none;
//  }
//
//  .global-category .submenu-toggle .submenu {
//    top: 0;
//    bottom: auto;
//    left: 0;
//    width: 100%;
//    margin-top: 70px;
//    padding-bottom: 30px;
//    border: none;
//    border-bottom: 1px solid @hr-border;
//    border-radius: 0;
//  }
//
//
//  .global-nav {
//    position: relative;
//    z-index: 98;
//    margin-top: 80px;
//  }
//
//  .global-nav li {
//    width: 50px;
//
//    a {
//      height: 50px;
//
//      i {
//        margin-left: -40px;
//      }
//
//      span, small {
//        display: none;
//      }
//    }
//
//
//    &:hover {
//      width: 240px;
//      background-color: @gray-lighter;
//      border-radius: @border-radius-small;
//      box-shadow: 2px 2px 2px rgba(0,0,0,.15);
//
//      span, small {
//        display: block;
//      }
//    }
//  }
//
//
//  .dadu {
//    display: none;
//  }
//}