@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    
  .jcboat {
    background-image: url(@JcBoatLogo2x);
    background-size: 144px 32px;
  }

  [class*="icon-m-"],
  [class*="icon-add-"] {
    background-image: url(@mainSprite2x);
    background-size: 32px 368px;
  }

  .icon-exit {
    background-image: url(@iconExit2x);
    background-size: 20px 16px;
  }

  .global-category .submenu-toggle {
    background-image: url(@navArrow2x);
    background-size: 5px 9px;
  }

  .global-category .submenu-toggle:hover,
  .global-category .submenu-toggle.hovered {
    background-image: url(@navArrowHover2x);
  }

  .showcase-nav-right, 
  .showcase-nav-left {
    background-image: url(@mainSprite2x);
    background-size: 32px 272px;
  }

  .product-vip {
    background-image: url(@vipBadge2x);
    background-size: 91px 90px;
  }
}