// Sizes reset
// -------------------------
* {
  .box-sizing(border-box);
}


// Body reset
// -------------------------
body {
  margin: 0;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-background;
  overflow-y: scroll;
}


// Clearfix "Come on!"
// -------------------------
.clearfix {
  .clearfix();
}


// Links
// -------------------------
a {
  color: @link-color;
  
  &:hover {
    color: @link-color-hover;
  }

  &,
  &:hover,
  &:focus {
    outline: none;
  }
}

