.search-options-group {
	margin-bottom: @line-height-computed;
  padding: 5px;
  background-color: #F6F7F8; // TODO : add variables
  border-radius: @border-radius-base;
	
	// Clearfix
	&:after {
		content: '';
		display: table;
		width: 100%;
		height: 0;
		overflow: hidden;
	}
}

.search-option {
	position: relative;
	display: inline-block;
	float: left;
	padding: 9px 10px;

	.transition(~'height .2s, background .2s');

	&.open {
		position: absolute;
		z-index: 10;
		height: 160px;
		border-color: @gray;
		box-shadow: 2px 2px 2px rgba(0,0,0,.1);
	}
}

.search-option-field {
	width: 220px;
	height: 65px;

	input, 
	select, 
	.input-addon {
		margin-bottom: 0;
	}
}

.search-option-title {
	color: @gray-dark;
	font-size: @font-size-small;
}

.search-option .btn-clear {
	position: absolute;
	top: 8px;
	right: 10px;
	display: none;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: @b64-icon-remove no-repeat center;
}

.search-option .checkbox-btn {
	float: left;

	& + .checkbox-btn {
  	margin-left: 10px;
  }
}

.search-option-action {
	width: 100%;
	padding: 10px;
	overflow: hidden;

	.btn + a {
		margin-left: 10px;
	}
}



// Active state

.search-option.active {
	background-color: #E6E9ED;
}

.search-option.active .btn-clear {
	display: block;
}



// Geolocation

.geolocation a {
	text-decoration: none;
}

.geolocation-group {
	& + & {
		padding-top: 20px;
	}

	small {
		display: inline-block;
		margin-left: 5px;
		font-size: @font-size-smallest;
		color: @gray;
		font-weight: 400;
	}
}




// Search companies

.search-companies {
	display: table;
	width: 100%;
	margin-bottom: @line-height-computed;

	input[type="text"], select {
		height: 38px;
		padding: 8px 10px;
		margin-bottom: 0;
	}
	
	.search-field {
		display: table-cell;
		width: auto;
		vertical-align: top;
	}

	.search-geolocation {
		display: table-cell;
		width: 260px;
		padding-left: 10px;
		vertical-align: top;
	}

	.search-action {
		display: table-cell;
		width: 100px;
		padding-left: 10px;
		vertical-align: top;

		.btn {
			width: 100px;
		}
	}
}