table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

.table {
  width: 100%;
  margin-bottom: @line-height-computed;

  tr th {
    padding-bottom: 10px;
    text-align: left;
    font-size: @font-size-small;
    font-weight: 700;
    border-bottom: 2px solid @hr-border;

    & + th {
      padding-left: 10px;
    }
  }

  tr td {
    padding: 10px 0;

    & + td {
      padding-left: 10px;
    }
  }

  tr + tr td {
    border-top: 1px dotted @hr-border;
  }

  tr td.table-title {
    padding-bottom: 10px;
    color: @orange;
    font-weight: 700;
  }

  tr td.table-footer {
    border-top: 2px solid @hr-border;
  }
}

.table-liftup {
  tr td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}