// Body text
// -------------------------
p {
  margin: 0 0 @line-height-computed / 2;
  
  small {
    display: inline-block;
    line-height: @line-height-small;
  }
}


// Emphasis & misc
// -------------------------
small { 
  font-size: 12px;
} 


// Horizontal rules
// -------------------------
hr {
  height: 0;
  margin: @line-height-computed 0;
  border: 0;
  border-top: 1px solid @hr-border;
  border-bottom: 1px solid #FFFFFF;
}


// Images
// -------------------------
.img-block {
  display: block;
  width: 160px;
  height: 120px;
  background-color: #F3F4F6;
  background-repeat: no-repeat;
  background-position: center;
}


// Link styles
// ------------------------------
a.iconlink {
  text-decoration: none;
  border-bottom: none; 
  
  i {
    text-decoration: underline;
    font-style: normal;
  }
}

a.ajaxlink {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a.iconlink.ajaxlink {
  border-bottom: none;   
  
  i {
    text-decoration: none;
    border-bottom: 1px dotted; 
  }
}


// Ruble newstyle!
// -------------------------
.rub {
  font-family: 'ALSRubl-Arial', Arial, sans-serif;
  line-height: normal;
  font-style: normal;
}



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.content-heading, .content-lead, .content-title {
  margin: 0 0 (@line-height-computed / 2);
  font-family: @font-family-base;
  line-height: 1.1em;
  font-weight: normal;
  text-rendering: optimizelegibility;

  small {
    font-size: @font-size-small;
  }
}

h1, .h1, .content-heading {
  margin-bottom: @line-height-computed;
  font-size: @font-size-huge;
  font-weight: 700;
  letter-spacing: -.04em;
}

h2, .h2 {
  font-size: @font-size-largest;
}

h3, .h3, .content-lead {
  font-size: @font-size-large;
  font-weight: 700;
}

h4, .h4 {
  font-size: @font-size-base;
}

h5, .h5, .content-title {
  margin-bottom: (@line-height-computed / 2);
  font-size: @font-size-small;
  text-transform: uppercase;
  font-weight: bold;
  color: @orange;
}



// Utility classes
.text-color          { color: @text-color; }
a.text-color:hover   { color: @link-color; }

.text-gray           { color: @gray-dark; }
a.text-gray:hover    { color: @link-color; }

.text-orange         { color: @orange; } 
a.text-orange:hover  { color: @text-color; }

.text-red            { color: @red; } 
a.text-red:hover     { color: @text-color; }

.text-green          { color: @green; }
a.text-green:hover   { color: @text-color; }


//
// Background accent colors

.bg-red              { background-color: @red-light; }
.bg-green            { background-color: @green-light; }

// Text align
// ------------------------------
.text-left     { text-align: left; }
.text-right    { text-align: right; }
.text-center   { text-align: center; }


// Text cut
// ------------------------------
.text-cut      {
  display: inline-block;
  margin-bottom: @line-height-computed / 2;
  text-decoration: none;
}


// Text styles
// ------------------------------
.capitalize    { text-transform: capitalize; }
.strike        { text-decoration: line-through; }
.strong        { font-weight: 700; }    


// Lists
// --------------------------------------------------
ul, ol, menu {
  margin: 0 0 @line-height-computed / 2;
  padding: 0;
  list-style: none;
}

ul ul, ul ol, ul menu, ol ol, ol ul, ol menu, menu ul, menu ol, menu menu {
  margin-bottom: 0;
}

li {
  line-height: @line-height-base;
}

ul.styled,
ol.styled {
  margin-left: 20px;
  list-style: disc;
}

dl { 
  margin: 0 0 @line-height-computed / 2;
}

dt, dd { 
  font-size: @font-size-base;
  line-height: @line-height-base;
}

dt { 
  font-weight: 400; 
}

dd { 
  margin-left: 0; 
}

.list-iconized li {
  padding-left: 40px;

  + li {
    padding-top: 10px;
  }

  [class*="icon-"] {
    float: left;
    margin-left: -40px;
  }
}

.dl-table {
  margin-bottom: @line-height-computed / 2;
  padding-left: 110px;
  
  dt, dd {
    line-height: @line-height-base;
  }
  
  dt {
    float: left;
    width: 90px;
    margin-top: 2px;
    margin-left: -110px;
    font-size: @font-size-small;
    color: @gray-dark;
  }
  
  dd:after {
    content: '';
    display: table;
    width: 100%;
    height: 8px;
    overflow: hidden;
  }

  &.dl-table-xl {
    padding-left: 180px;

    dt {
      width: 160px;
      margin-left: -180px;
    }
  }
}
