.block-centered {
  float: none !important;
  margin-right: auto;
  margin-left: auto;
}

.inline-block {
  display: inline-block;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.show {
	display: block;
}

.hide {
	display: none;
}


// Ruble
@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('../font/alsrubl-arial-regular.eot');
  src: url('../font/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'), url('../font/alsrubl-arial-regular.woff') format('woff'), url('../font/alsrubl-arial-regular.ttf') format('truetype'), url('../font/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl-Arial'; src: url('../font/alsrubl-arial-bold.eot'); src: url('../font/alsrubl-arial-bold.eot?#iefix') format('embedded-opentype'), url('../font/alsrubl-arial-bold.woff') format('woff'), url('../font/alsrubl-arial-bold.ttf') format('truetype'), url('../font/alsrubl-arial-bold.svg#ALSRublArialBold') format('svg');
  font-weight: bold;
  font-style: normal;
}