.profile-content {
  padding-left: 240px;
  overflow: hidden;

  .heading {
    width: 220px;
    float: left;
    margin-left: -240px;
    font-size: @font-size-base;
    line-height: @line-height-small;
    color: @orange;

    p {
      font-size: @font-size-small;
    }
  }
}

.profile-content ul:last-child,
.profile-content dl:last-child {
  margin-bottom: 0;
}