//
// Profile
// ---------------------------------------------------

.profile-home {
  margin-bottom: @line-height-computed;
}

.profile-nav {
  margin-bottom: 0;
  border-style: dashed;

  &.active {
    border-style: solid;
  }

  & + & {
    margin-top: (@line-height-computed / 4);
  }
}

.profile-nav-header {
  position: relative;
  display: block;
  padding: 14px;
  line-height: @line-height-computed;
  cursor: pointer;
  .user-select(none);

  a& {
    color: @text-color;
    &,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &:hover,
  &:focus {
    background-color: #F3F4F6;
  }

  [class*="icon-24-"] {
    float: left;
    margin-top: -2px;
    margin-right: 10px;
  }

  .active & {
    //color: @link-color;
    color: @text-color;
  }

  &[data-toggle="profile-nav"] {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-width: 6px 4px 0;
      border-style: solid;
      border-color: transparent;
      border-top-color: @text-color;
    }
  }

  .active & {
    &[data-toggle="profile-nav"]:after {
      border-width: 0 4px 6px;
      border-top-color: transparent;
      border-bottom-color: @text-color;
    }
  }
}


.profile-nav-list {
  display: none;
  margin: 0 0 7px;
  padding: 0;
  list-style: none;

  li > a {
    display: block;
    padding: 7px 14px;
    color: @text-color;
    line-height: @line-height-computed;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #F3F4F6; // TODO : add variables
    }
  }

  .divider {
    margin: 7px 0;
    height: 1px;
    background-color: @hr-border;
  }

  .active & {
    display: block;
  }
}


.profile-nav-wallet {
  margin: 0 14px;
  padding: 5px 0;
  color: @text-color;
  line-height: @line-height-computed;
  white-space: nowrap;
  overflow: hidden;

  &:after {
    content: '';
    position: relative;
    top: -4px;
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    border-bottom: 1px dotted @gray-light;
  }

  .pull-right {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding-left: 10px;
  }
}


.profile-login {
  border-style: solid;

  .profile-nav-header {
    &,
    &:hover,
    &:focus {
      cursor: default;
      background-color: transparent;
    }
  }

  .input-addon .prepend {
    width: 50px;
  }

  small {
    font-size: @font-size-small;
  }
}

.profile-login-form {
  padding: 0 14px 14px;

  .btn {
    width: 80px;
  }

  .checkbox {
    margin-bottom: 0;
  }
}

.profile-login-footer {
  padding: 14px;
  text-align: center;
  background-color: @gray-lighter;
  border-radius: 0 0 @border-radius-small @border-radius-small;
}


.profile-notification {
  border-style: solid;

  .profile-nav-header {
    &,
    &:hover,
    &:focus {
      cursor: default;
      background-color: transparent;
    }
  }

  .list-group-item {
    line-height: @line-height-small;
    &:focus,
    &:hover {
      color: @link-color;
    }
  }
}







//.profile-home {
//  position: relative;
//	line-height: @line-height-computed;
//
//  .icon-arrow {
//  	float: right;
//  	margin-top: 7px;
//  	margin-right: -16px;
//  }
//}
//
//.header-control-btn {
//  position: relative;
//  display: inline-block;
//  float: left;
//  padding: 14px;
//  line-height: @line-height-computed;
//  text-decoration: none;
//  color: @text-color;
//
//  &:hover,
//  &:focus {
//    background-color: #F6F7F8;
//  }
//
//  .b64-icon-plus {
//    float: left;
//    margin: 3px 8px 0 0;
//  }
//}
//
//
//.profile-home-login,
//.profile-home-toggle {
//	padding: 14px 24px 14px 14px;
//}
//
//.profile-home-toggle {
//	padding-right: 30px;
//	cursor: pointer;
//
//	.text-overflow();
//}
//
//.dropdown-profile {
//	position: absolute;
//	top: 100%;
//	right: -1px;
//	z-index: 100;
//	display: none;
//	width: 450px;
//	padding: 15px;
//	cursor: default;
//	//border: 1px solid @gray;
//	//border-color: @gray-rgba;
//	//border-top: none;
//	//background-color: #FFFFFF;
//	//background-clip: padding-box;
//  background-color: #687483;
//	border-radius: @border-radius-base;
//	box-shadow: 2px 2px 2px rgba(0,0,0,.1);
//}
//
//.dropdown-profile .column {
//	border-right: 1px solid @hr-border;
//
//	+ .column {
//		padding-left: 10px;
//		border-right: 0;
//	}
//}
//
//.dropdown-profile ul {
//	margin-bottom: 0;
//}
//
//.dropdown-profile ul li {
//	padding: 1px 0;
//}
//
//.dropdown-profile .profile-tiny-info {
//	margin: 2px 0 10px;
//	overflow: hidden;
//
//	li {
//		width: 50%;
//		float: left;
//		line-height: @line-height-small;
//
//		small {
//			color: @gray-dark;
//		}
//	}
//}
//
//
//
//
//// Profile-home, Active state
//.profile-home.active {
//	border-color: @gray;
//	background-color: #FFFFFF;
//}
//
//.profile-home.active .dropdown-profile {
//	display: block;
//}
//
//.profile-home.active .icon-arrow {
//	border-top-width: 0;
//	border-bottom-width: 7px;
//	border-bottom-color: @gray-dark;
//}
//
//
//
//

// Signup
.sign-group {
	position: relative;
	height: 400px;
	margin-bottom: @line-height-computed * 1.5;
	.clearfix();

	.btn {
		margin-top: @line-height-computed / 2;
	}

	.signin,
	.signup {
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		padding: 30px;
	}

	.signup {
		left: 50%;
		border-left: 1px solid @hr-border;
	}

	.signup-promo {
		height: 100%;
		left: 50%;
		padding: 120px 50px 0;
		text-align: center;
		border-left: 1px solid @gray;
		background-color: @gray-lighter;
		border-radius: 0 @border-radius-base @border-radius-base 0;
	}
}

.signin,
.signup {
	input[type="text"],
	input[type="password"] {
		height: 40px;
		padding-right: 10px;
		padding-left: 10px;
	}
}