.breadcrumbs {
	margin-bottom: @line-height-computed;
	font-size: @font-size-small;
  color: #687483;
	
	ul {
    margin-bottom: 0;
    overflow: hidden;
    
    & > li {
      float: left;

      & > a {
        color: #687483;
        text-decoration: none;
        
        &:hover,
        &:focus {
          color: #4E5D6D;
        }
      }

      & + li {
        padding-left: 30px;
        background: @b64-icon-arrow no-repeat left 14px top 2px;
      }

      &.active {
        cursor: default;
      }
    }
  }

	//span {
	//	display: inline-block;
	//
	//	& + span {
	//		margin-left: 5px;
  //
	//		span {
	//			margin-left: 5px;
	//		}
	//	}
  //
	//	a {
	//		color: @text-color;
  //
	//		span {
	//			text-decoration: underline;
	//		}
  //
	//		&:hover {
	//			color: @link-color;
	//		}
	//	}
	//}
}