.global-nav {
	display: table;
	margin: 0;

	& > li {
		display: table-cell;

		& > a,
		& > span {
			display: block;
			padding: 14px 10px;
			line-height: @line-height-computed;
			color: @text-color;
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: #F3F4F6; // TODO : add variables
			}
		}

    &:hover,
    &:focus {
      background-color: #F3F4F6; // TODO : add variables
    }

		&.active > a,
		&.hovered > a,
		&.hovered > span {
			&,
			&:hover,
			&:focus {
				background-color: #F3F4F6; // TODO : add variables
			}
		}

		[class*="icon-cat-"] {
			float: left;
			margin: -6px 10px 0 0;
		}

		&.toggler {
			position: relative;
			cursor: default;
		}
	}
}

.global-subnav {
	display: none;
	position: absolute;
	z-index: 10;
	top: 100%;
	width: 220px;
	padding: 7px 0;
	//background-color: #687483;
  background-color: #F3F4F6;
	border-radius: 0 0 @border-radius-base @border-radius-base;
	box-shadow: 0 5px 10px rgba(0,0,0,.15);

	& > li {
		& > a {
			display: block;
			padding: 7px 14px;
			text-decoration: none;
			//color: #FFFFFF;
		  color: @text-color;
    }

		&.active > a,
		& > a:hover,
		& > a:focus {
			background-color: rgba(0,0,0,.07);
		}
	}

	&.right {
		right: 0;
	}

	&.left {
		left: 0;
	}

	.toggler:hover & {
		display: block;
	}
}


// Global Categories
// -------------------------
//.global-category {
//	position: relative;
//	margin-bottom: @line-height-computed;
//	padding: 8px 0;
//	border: 1px solid #CDD3DA; // TODO : add variables
//	background-color: #FFFFFF;
//	border-radius: @border-radius-base;
//
//	ul {
//		position: relative;
//		margin-bottom: 0;
//	}
//
//	& > ul > li {
//		line-height: @line-height-computed;
//
//    & > a {
//      display: block;
//      padding: 5px 14px;
//      color: @text-color;
//      text-decoration: none;
//
//      &:hover {
//        color: @link-color;
//        text-decoration: underline;
//      }
//	  }
//	}
//
//	.active > a {
//		color: @link-color;
//		background-color: #F6F7F8; // TODO : add variables
//	}
//
//	.divider {
//		height: 1px;
//		margin: 10px 0;
//		background-color: #CDD3DA; // TODO : add variables
//	}
//
//	.responsive-divider {
//		display: none;
//	}
//}
//
//.global-category.active {
//	border-top-right-radius: 0;
//	border-bottom-right-radius: 0;
//}
//
//.global-category .submenu-toggle {
//	background-image: url(@navArrow);
//	background-repeat: no-repeat;
//	background-position: center right 14px;
//}
//
//.global-category .submenu-toggle .submenu {
//	position: absolute;
//	top: -9px;
//	bottom: -9px;
//	left: 100%;
//	z-index: 20;
//
//	display: none;
//
//	width: 710px;
//	padding: 15px;
//	border: 1px solid @gray;
//	background-color: #FFFFFF;
//	border-top-right-radius: @border-radius-base;
//	border-bottom-right-radius: @border-radius-base;
//	box-shadow: 2px 2px 2px rgba(0,0,0,.1);
//}
//
//.global-category .submenu-toggle .submenu ul li {
//  font-size: @font-size-small;
//  line-height: @line-height-small;
//
//  + li {
//    padding-top: 10px;
//  }
//
//  a {
//    text-decoration: underline;
//
//    &:hover {
//      color: @text-color;
//    }
//  }
//}
//
//.global-category .submenu-toggle .submenu h3 {
//  margin-bottom: @line-height-computed / 2;
//}
//
//.global-category .submenu-toggle .submenu ul + h3 {
//  margin-top: 15px;
//}
//
//.global-category .submenu-toggle:hover,
//.global-category .submenu-toggle.hovered {
//	background-image: url(@navArrowHover);
//
//	.submenu {
//		display: block;
//	}
//}
//
//.global-category-toggle {
//	position: absolute;
//	top: 0;
//	left: 10px;
//	display: none;
//	width: 50px;
//	height: 50px;
//	cursor: pointer;
//	border: 1px solid @gray;
//	border-color: @gray-rgba;
//	background-color: #FFFFFF;
//	border-radius: @border-radius-base;
//	box-shadow: 2px 2px 2px rgba(0,0,0,.1);
//	background-clip: padding-box;
//
//	.icon-m-nav {
//		margin: 7px 0 0 8px;
//	}
//}


// Global Nav
// -------------------------
//.global-nav {
//	margin-bottom: @line-height-computed;
//}
//
//.global-nav li + li {
//  margin-top: @line-height-computed / 4;
//}
//
//.global-nav li a {
//	display: block;
//	padding: 7px 14px 7px 50px;
//	line-height: @line-height-small;
//	color: @text-color;
//	text-decoration: none;
//
//	span {
//		display: block;
//		line-height: @line-height-small;
//		text-decoration: underline;
//	}
//
//	small {
//		font-size: @font-size-smallest;
//		color: @gray-dark;
//	}
//
//  i {
//    float: left;
//    margin-left: -42px;
//  }
//
//	&:hover span {
//		color: @link-color;
//	}
//}
//
//.global-nav li.active {
//	background-color: @blue-light;
//	border-radius: @border-radius-base;
//
//	span {
//		font-weight: 700;
//		color: @link-color;
//		text-decoration: none;
//	}
//}

