.nav-inline {
	overflow: hidden;

	li {
		float: left;
		padding: 4px 10px;
		line-height: @line-height-computed;

		&.active {
			cursor: default;
			color: #FFFFFF;
			background-color: @link-color;
			border-radius: @border-radius-small;

			a {
				color: #FFFFFF;
				text-decoration: none;
			}
		}
	}
}