.pagination span {
  display: inline-block;
  margin-bottom: @line-height-computed / 2;

  + span {
    margin-left: 10px;
  }
}

.pagination ul {
  overflow: hidden;
}

.pagination ul li {
  float: left;
  
  + li {
    margin-left: 10px;
  }

  strong {
    display: block;
    padding: 3px 9px;
    font-size: @font-size-large;
    letter-spacing: 1px;
  }

  a {
    display: block;
    padding: 7px 14px;
    text-decoration: none;
    color: @text-color;
    background-color: @gray-lighter;
    border-radius: @border-radius-base;

    &:hover {
      color: @link-color;
    }
  }

  &.active a {
    color: @link-color;
    background-color: @blue-light;
  }
}