{% extends "./_layout.twig" %}
{% block pagetitle %}<title>JcBoat.ru - Новое объявление</title>{% endblock %}
{% set buttons = [
    { name: 'Водная техника', link: 'add', isactive: 'true'},
    { name: 'Запчасти и аксессуары', link: 'addwaterparts', isactive: 'false'},
    { name: 'Все для рыбалки', link: 'add', isactive: 'addfishing'},
] %}

{% set categories = [
    { id:"0", name: "- выбрать -"},
    { id:"27", name: "аэролодка"},
    { id:"29", name: "банан надувной"},
    { id:"14", name: "баржа"},
    { id:"15", name: "буксир"},
    { id:"6", name: "водный мотоцикл"},
    { id:"25", name: "грузовоз"},
    { id:"20", name: "катамаран"},
    { id:"1", name: "катер"},
    { id:"13", name: "катер на воздушной подушке"},
    { id:"16", name: "ловушка"},
    { id:"26", name: "лодка"},
    { id:"21", name: "лодка ПВХ"},
    { id:"3", name: "лодка пластиковая"},
    { id:"10", name: "лодка резиновая"},
    { id:"2", name: "мотор подвесной"},
    { id:"8", name: "мотор стационарный"},
    { id:"30", name: "пароматор"},
    { id:"23", name: "плавкран"},
    { id:"9", name: "прицеп/трейлер"},
    { id:"17", name: "судно нефтеналивное"},
    { id:"19", name: "судно общего назначения"},
    { id:"18", name: "судно рыболовное"},
    { id:"24", name: "танкер"},
    { id:"28", name: "теплоход"},
    { id:"22", name: "шхуна"},
    { id:"12", name: "электромотор"},
    { id:"11", name: "яхта моторная"},
    { id:"5", name: "яхта парусная"},
] %}

{% set firms = [
    { id:"0", name: "- выбрать -"},
    { id:"6971", name: "AB YACHTS"},
    { id:"6972", name: "ABSOLUTE"},
    { id:"194", name: "ACHILLES"},
    { id:"6973", name: "ADMIRAL"},
    { id:"1475", name: "ADRIA"},
    { id:"1466", name: "ADVENTURE"},
    { id:"1513", name: "AERIAL"},
    { id:"1350", name: "AJAX"},
    { id:"1437", name: "AKASHI"},
    { id:"1474", name: "AKSANO"},
    { id:"1445", name: "ALBEMARLE"},
    { id:"195", name: "ALBIN"},
    { id:"1517", name: "ALDEN"},
    { id:"1351", name: "ALEX WILLIS"},
    { id:"6974", name: "ALLURES YACHTING"},
    { id:"1467", name: "ALTUS"},
    { id:"6975", name: "ALUMACRAFT"},
    { id:"6976", name: "ALUMAWELD"},
    { id:"6977", name: "AMADEUS"},
    { id:"6978", name: "AMEL"},
    { id:"6979", name: "AMT"},
    { id:"6949", name: "AMT PREMIUM BOATS"},
    { id:"1455", name: "ANDREYALE"},
    { id:"1502", name: "ANTARES"},
    { id:"6980", name: "ANTILA"},
    { id:"6981", name: "ANYTEC BOATS"},
    { id:"7216", name: "APACHE"},
    { id:"1520", name: "APREA MARE"},
] %}

{% set countries = [
    {
        "name": "- выбрать -",
        "locations": []
    },
    {
        "name": "Россия",
        "locations": [
        { "id": "123", "name": "Абакан" },
        { "id": "2826", "name": "Абдулино" },
        { "id": "2781", "name": "Абинск" },
        { "id": "2849", "name": "Адлер" },
        { "id": "2671", "name": "Азов" },
        { "id": "124", "name": "Аксай" },
        { "id": "3066", "name": "Алатырь" },
        { "id": "2739", "name": "Алдан" },
        { "id": "2737", "name": "Алейск" },
        { "id": "2986", "name": "Александров" },
        { "id": "3207", "name": "Александровск" },
        { "id": "2979", "name": "Александровск-Сахалинский" },
        { "id": "3072", "name": "Алексеевка" },
        { "id": "2891", "name": "Алексин" },
        { "id": "2719", "name": "Алупка" },
        { "id": "2720", "name": "Алушта" }
    ]
    },
    {
        "name": "Япония",
        "locations": [
        { "id": "3284", "name": "Aoicho" },
        { "id": "3433", "name": "Ashiharacho" },
        { "id": "3534", "name": "Azumino" },
        { "id": "3372", "name": "Chigasaki" },
        { "id": "3232", "name": "Chiryu" },
        { "id": "3516", "name": "Fuji" },
        { "id": "3355", "name": "Fussa" },
        { "id": "3255", "name": "Hanawadamachi" },
        { "id": "3531", "name": "Heiwajima" },
        { "id": "3230", "name": "Honjocho" },
        { "id": "3541", "name": "Inzai" },
        { "id": "3246", "name": "Kagoshima-shi" },
        { "id": "3667", "name": "Kami-nagarekawacho" },
        { "id": "3445", "name": "Kawagoe" },
        { "id": "3437", "name": "Kitaminato" },
        { "id": "3684", "name": "Mino" },
        { "id": "3653", "name": "Mitsui" }
    ]
    }
] %}

{% set images = [
    { src: 'boat-1.jpg', status: 'loading', percent: 15, 'status-text': 'Загрузка...' },
    { src: 'boat-2.jpg', status: 'load-error-refresh', percent: 0, 'status-text': 'Ошибка загрузки, попробуйте перезагрузить картинку'},
    { src: 'boat-3.jpg', status: 'load-error-stop', percent: 0, 'status-text': 'Невозможно загрузить картинку: слишком большой размер'},
    { src: 'boat-1.jpg', status: 'load-success', percent: 0, 'status-text': ''},
    { src: 'boat-2.jpg', status: 'load-success', percent: 0, 'status-text': ''},
    { src: 'boat-3.jpg', status: 'loading', percent: 80, 'status-text': 'Загрузка...' },
] %}



{% block content %}
    <div class="row">
        <div class="col">
            <form>
                <div class="row row-gutter-16">
                    <div class="col-12 col-lg-auto">
                        <div class="choose-section-label">Разместить в разделе:</div>
                    </div>
                    <div class="col-12 col-lg-auto">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for button in buttons %}
                                <button type="button" class="btn
                            {% if button.isactive == "true" %}
                            btn-primary
                            {% else %}
                            btn-outline-primary
                            {% endif %}
                            ">{{ button.name }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <h1 class="mt-4">Новое объявление о&nbsp;продаже водной техники</h1>


                <div class="paragraph-sm text-muted mt-3">Вы можете добавить еще <strong>2</strong>&nbsp;объявления в&nbsp;этот
                    раздел.
                </div>
                <!--<h4>Контактная информация</h4>-->
                <div class="mt-5">
                    <div class="form-horizontal form-group">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3 " for="seller-name">Контактное
                                лицо:</label>
                            <div class=" col-md-6 col-lg-4">
                                <input type="text" name="seller-name" id="seller-name" class="form-control"
                                       placeholder="Фамилия Имя Отчество">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3" for="e-mail">E-mail:</label>
                            <div class="col-md-6 col-lg-4">
                                <input type="text" name="e-mail" id="e-mail" class="form-control">
                                <div class="custom-control custom-checkbox mt-2">
                                    <input type="checkbox" class="custom-control-input" id="hide-email">
                                    <label class="custom-control-label" for="hide-email">
                                        не показывать e-mail на сайте
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3" for="phone">Телефон:</label>
                            <div class="col-md-6 col-lg-4">
                                <input type="tel" name="phone" id="phone"
                                       class="form-control">

                            </div>
                            <div class="col-md-6 col-lg-4 offset-md-6 offset-lg-0 mt-2 mt-lg-0">
                                <button class="btn btn-primary" type="button">Добавить номер</button>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col offset-md-6 offset-lg-3">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="verify-number" name="verify-number"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="verify-number">Подтвердить номер</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="verify-number-2" name="verify-number"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="verify-number-2">Добавить без
                                        подтверждения</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group mt-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3" for="site">Сайт:</label>
                            <div class="col-md-6 col-lg-4">
                                <input type="text" name="site" id="site" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3" for="skype">Skype:</label>
                            <div class="col-md-6 col-lg-4">
                                <input type="text" name="skype" id="skype" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3" for="additional-info">Дополнительная
                                контактная информация:</label>
                            <div class="col-md-6 col-lg-6">
                                <textarea class="form-control" id="additional-info" rows="3"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3" for="tech-type">Тип
                                техники:</label>
                            <div class="col-md-6 col-lg-6">
                                <select class="custom-select" id="tech-type">
                                    {% for category in categories %}
                                        {% if loop.first %}
                                            <option selected>{{ category.name }}</option>
                                        {% else %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3" for="tech-type">Фирма-производитель:</label>
                            <div class="col-md-6 col-lg-6">
                                <select class="custom-select" id="tech-type">
                                    {% for firm in firms %}
                                        {% if loop.first %}
                                            <option selected>{{ firm.name }}</option>
                                        {% else %}
                                            <option value="firm.id">{{ firm.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3" for="skype">Модель:</label>
                            <div class="col-md-6 col-lg-4">
                                <input type="text" name="skype" id="skype" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3" for="tech-type">Год
                                выпуска:</label>
                            <div class="col-md-6 col-lg-2">
                                <select class="custom-select" id="tech-type">
                                    <option selected>- Год -</option>
                                    {% for year in range(1970, 2020) %}
                                        <option value="year">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3" for="length">Длина:</label>
                            <div class="col-md-6 col-lg-2">
                                <input type="text" name="length" id="length" class="form-control">
                            </div>
                            <div class="col col-form-label">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="m-ft" name="m-ft"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="m-ft">м (метры)</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="m-ft-2" name="m-ft"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="m-ft-2">ft (футы)</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3"
                                   for="engine-power">Мощность:</label>
                            <div class="col-md-6 col-lg-2">
                                <input type="text" name="engine-power" id="engine-power" class="form-control">
                            </div>
                            <div class="col form-control-plaintext">
                                л. с.
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3"
                                   for="engine-capacity">Объем двигателя:</label>
                            <div class="col-md-6 col-lg-2">
                                <input type="text" name="engine-capacity" id="engine-capacity" class="form-control">
                            </div>
                            <div class="col form-control-plaintext">
                                см³
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3"
                                   for="location">Местонахождение:</label>
                            <div class="col-md-6 col-lg-6">
                                <select class="custom-select" id="location">
                                    {% for country in countries %}
                                        {% if loop.first %}
                                            <option value="0" selected>{{ country.name }}</option>
                                        {% else %}
                                            <optgroup label="{{ country.name }}">
                                                {% for location in country.locations %}
                                                    <option value="{{ country.id }}">{{ location.name }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3" for="length">Наличие:</label>
                            <div class="col col-form-label">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="availability" name="availability"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="availability">В наличии</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="availability-2" name="availability"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="availability-2">Под заказ</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="availability-3" name="availability"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="availability-3">В пути</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label required col-md-6 col-lg-3" for="length">Состояние:</label>
                            <div class="col col-form-label">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="is-new" name="is-new"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="is-new">Новая</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="is-new-2" name="is-new"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="is-new-2">Под заказ</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3" for="price">Цена:</label>
                            <div class="col-md-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="price" id="price"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <select class="custom-select" id="location">#}
                                            <option value="0" selected>₽ (рубли)</option>
                                            <option value="1">$ (доллары)</option>
                                            <option value="2">€ (евро)</option>
                                            <option value="3">¥ (иены)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal form-group ">
                        <div class="form-row">
                            <label class="col-form-label col-md-6 col-lg-3" for="additional-info">Информация от&nbsp;продавца:</label>
                            <div class="col-md-6 col-lg-6">
                                <textarea class="form-control" id="additional-info" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="images-list droppable">
                        <div class="row row-gutter-16 load-buttons mb-3 d-md-none">
                            <div class="col">
                                <button class="btn btn-primary w-100">
                                    <i class="svg-camera"></i>
                                    С камеры
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary w-100">
                                    <i class="svg-gallery"></i>
                                    Из галереи
                                </button>
                            </div>
                        </div>
                        <div class="load-buttons mb-3 d-none d-md-flex">
                            <button class="btn btn-lg btn-block btn-outline-primary">
                                <i class="svg-load"></i>Нажмите для загрузки фото
                            </button>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row row-gutter-16">
                                    {% set imagecalc = 0 %}
                                    {% for image in images %}
                                        {% if image.status=='load-success' %}
                                            {% set imagecalc = imagecalc + 1 %}
                                        {% endif %}
                                        <div class="col-12 col-lg-6">
                                            <div class="media load-image {{ image.status }}">
                                                <div class="align-self-center">
                                                    <img src="/images/{{ image.src }}"/>
                                                </div>
                                                <div class="media-body mx-3 align-self-center">
                                                    <div class="status-text">
                                                        {% if image.status=='load-success' %}
                                                            Изображение №&nbsp;{{ imagecalc }}
                                                        {% else %}
                                                            {{ image['status-text'] }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar"
                                                             role="progressbar"
                                                             style="width: {{ image.percent }}%"
                                                             aria-valuenow="{{ image.percent }}"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="align-self-center">
                                                    <div class="btn-wrap">
                                                        <div class="btn-group">
                                                            {% if image.status=='load-success' %}
                                                                <button class="btn btn-sm btn-outline-light">
                                                                    <svg class="icon-size-24 text-body"><use xlink:href="#icon-rotate-90-deg"></use></svg>
                                                                </button>
                                                            {% endif %}
                                                            {% if image.status=='load-error-refresh' %}
                                                                <button class="btn btn-sm btn-outline-light">
                                                                    <svg class="icon-size-24 text-body"><use xlink:href="#icon-refresh"></use></svg>
                                                                </button>
                                                            {% endif %}
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <svg class="icon-size-24 text-body"><use xlink:href="#icon-delete"></use></svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-offer mt-5">
                        <div class="card-body">
                            <p>Я согласен с условиями <a href="/?code=info&amp;mode=offer" class="iconlink"
                                                         target="_blank">оферты</a>.</p>
                            <p>Я согласен, что размещенная мною информация может быть использована администрацией сайта
                                на сайтах-партнерах.</p>
                            <input type="submit" name="Submit" class="btn btn-lg btn-block btn-primary" value="Добавить объявление">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-fixed d-none d-lg-block">
            <img src="https://via.placeholder.com/240x400" alt="">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/dist/js/vendors/jquery.maskedinput.min.js"></script>
    <script>
      jQuery(function ($) {
        $.mask.definitions['~'] = '[78]';
        $("#phone").mask("+7 (999) 999-99-99");
      });
    </script>
{% endblock %}
