<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block pagetitle %}<title>JcBoat.ru</title>{% endblock %}
    {#<link rel="stylesheet" href="/dist/css/base.css">#}
    <link rel="stylesheet" href="/dist/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

{% set navbar = [
    {link: '/boats/list', name: 'Водная техника', subnav: ['Катера', 'Яхты', 'Надувные лодки']},
    {link: '/parts/list', name: 'Моторы', subnav: []},
    {link: '', name: 'Запчасти', subnav: []},
    {link: '', name: 'Рыбалка', subnav: []},
    {link: '', name: 'Продавцы', subnav: []},
] %}

{% set cabinet = [
    {link: '', name: 'Мои объявления', icon: '#icon-ads'},
    {link: '', name: 'Избранное', icon: '#icon-favorites'},
    {link: '', name: 'Подписки', icon: '#icon-subscriptions'},
    {link: '', name: 'Сообщения', icon: '#icon-dialogs'},
] %}

<body>
    {% include "./icons.twig" %}
    <header class="header">
        <div class="container">
            <div class="row row-gutter-24 align-items-center">
                <div class="col-auto d-block d-lg-none mr-auto">
                    <button class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="col-auto">
                    <a href="/">
                        <img class="d-block" src="/images/jcboat.svg" width="118" height="26" alt="JcBoat.ru">
                    </a>
                </div>
                <div class="col d-none d-lg-block">
                    <nav class="nav">
                        {% for item in navbar %}
                            <div class="nav-item{% if item.subnav %} dropdown dropdown-by-hover{% endif %}">
                                <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
                                {% if item.subnav %}
                                    <div class="dropdown-menu">
                                        {% for subitem in item.subnav %}
                                            <a href="#" class="dropdown-item">{{ subitem }}</a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </nav>
                </div>
                <div class="col-auto d-none d-lg-flex align-items-center">
                    <a href="/add/form" class="btn btn-sm btn-primary mr-4"><svg class="icon-size-24 mr-2"><use xlink:href="#icon-add-circle"></use></svg>Продать</a>
                    <a href="" class="btn text-primary px-0"><svg class="icon-size-24 mr-2"><use xlink:href="#icon-profile"></use></svg>Войти</a>
                </div>
                <div class="col-auto d-block d-lg-none ml-auto">
                    <a href="/add/form">
                        <svg class="icon-size-24"><use xlink:href="#icon-add-circle"></use></svg>
                        <span class="sr-only">Продать</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="drawer drawer-left d-lg-none">
        <div class="drawer-body">
            <a href="" class="d-flex align-items-center p-3 text-primary">
                <svg class="icon-size-24 mr-3"><use xlink:href="#icon-profile"></use></svg>
                Войти
            </a>
            <hr class="m-0">
            <nav class="nav">
                {% for item in cabinet %}
                    <div class="nav-item">
                        <a href="{{ item.link }}" class="nav-link">
                            <svg class="icon-size-24 text-muted mr-3"><use xlink:href="{{ item.icon }}"></use></svg>
                            {{ item.name }}
                        </a>
                    </div>
                {% endfor %}
            </nav>
            <hr class="m-0">
            <nav class="nav">
                {% for item in navbar %}
                    <div class="nav-item">
                        <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
                    </div>
                {% endfor %}
            </nav>
        </div>
    </div>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <p class="copyright">© 2020 JcBoat.ru</p>
            <p class="text-muted mb-2">Все зарегистрированные партнеры являются самостоятельными юридическими или физическими лицами, за деятельность которых администрация портала JcBoat.ru ответственности не несет.</p>
            <nav class="nav flex-column flex-lg-row">
                <a href="" class="nav-item nav-link text-muted px-0 mr-3">Редакция</a>
                <a href="" class="nav-item nav-link text-muted px-0 mr-3">Реклама</a>
                <a href="" class="nav-item nav-link text-muted px-0 mr-3">Правовая информация</a>
                <a href="" class="nav-item nav-link text-muted px-0 mr-3">Техподдержка</a>
            </nav>
        </div>
    </footer>

    {% block modals %}{% endblock %}

    <script src="/dist/js/vendors/jquery.min.js"></script>
    <script src="/dist/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/vendors/jquery.fancybox.min.js"></script>
    <script src="/dist/js/drawer.js"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
