{% extends "./_layout.twig" %}

{% block content %}
    {% set sections = [
        {
            "link": "/boats/list",
            "name": "Водная техника",
            "subnav": [
            { "link": "/boats/list", "name": "Катера" },
            { "link": "/boats/list", "name": "Яхты" },
            { "link": "/boats/list", "name": "Надувные лодки" },
            { "link": "/boats/list", "name": "Моторы" },
            { "link": "/boats/list", "name": "Гидроциклы" },
            { "link": "/boats/list", "name": "Парусные яхты" },
            { "link": "/boats/list", "name": "Моторные яхты" },
            { "link": "/boats/list", "name": "Прицепы" }
        ],
            "content": [
            {
                "link": "/boats/list",
                "name": "YANMAR ZX24C",
                "location": "Москва",
                "price": "8 899 999 ₽",
                "pricerub": "~11 925 720 ₽",
                "image": "boat-1.jpg"
            },
            {
                "link": "/boats/list",
                "name": "VELVETTE 41-Evolution",
                "location": "Москва",
                "price": "10 000 $",
                "image": "boat-2.jpg"
            },
            {
                "link": "/boats/list",
                "name": "КА80, КА70",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-3.jpg"
            },
            {
                "link": "/boats/list",
                "name": "YAMAHA F9,9JMH S",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-4.jpg"
            }
        ]
        },
        {
            "link": "/parts/list",
            "name": "Моторы",
            "subnav": [],
            "content": [
            {
                "link": "/boats/list",
                "name": "YANMAR ZX24C",
                "location": "Москва",
                "price": "8 899 999 ₽",
                "pricerub": "~11 925 720 ₽",
                "image": "boat-1.jpg"
            },
            {
                "link": "/boats/list",
                "name": "VELVETTE 41-Evolution",
                "location": "Москва",
                "price": "10 000 $",
                "image": "boat-2.jpg"
            },
            {
                "link": "/boats/list",
                "name": "КА80, КА70",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-3.jpg"
            },
            {
                "link": "/boats/list",
                "name": "YAMAHA F9,9JMH S",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-4.jpg"
            }
        ]
        },
        {
            "link": "",
            "name": "Запчасти",
            "subnav": [
            { "link": "/boats/list", "name": "Катера" },
            { "link": "/boats/list", "name": "Яхты" },
            { "link": "/boats/list", "name": "Надувные лодки" }
        ],
            "content": [
            {
                "link": "/boats/list",
                "name": "YANMAR ZX24C",
                "location": "Москва",
                "price": "8 899 999 ₽",
                "pricerub": "~11 925 720 ₽",
                "image": "boat-1.jpg"
            },
            {
                "link": "/boats/list",
                "name": "VELVETTE 41-Evolution",
                "location": "Москва",
                "price": "10 000 $",
                "image": "boat-2.jpg"
            },
            {
                "link": "/boats/list",
                "name": "КА80, КА70",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-3.jpg"
            },
            {
                "link": "/boats/list",
                "name": "YAMAHA F9,9JMH S",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-4.jpg"
            }
        ]
        },
        {
            "link": "",
            "name": "Рыбалка",
            "subnav": [
            { "link": "/boats/list", "name": "Катера" },
            { "link": "/boats/list", "name": "Яхты" },
            { "link": "/boats/list", "name": "Надувные лодки" }
        ],
            "content": [
            {
                "link": "/boats/list",
                "name": "YANMAR ZX24C",
                "location": "Москва",
                "price": "8 899 999 ₽",
                "pricerub": "~11 925 720 ₽",
                "image": "boat-1.jpg"
            },
            {
                "link": "/boats/list",
                "name": "VELVETTE 41-Evolution",
                "location": "Москва",
                "price": "10 000 $",
                "image": "boat-2.jpg"
            },
            {
                "link": "/boats/list",
                "name": "КА80, КА70",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-3.jpg"
            },
            {
                "link": "/boats/list",
                "name": "YAMAHA F9,9JMH S",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-4.jpg"
            }
        ]
        }
    ] %}

    {% set news = [
        {link: '/news', caption: 'Triton начинает постройку туристической подводной лодки', image: 'boat-1.jpg', date: '14 мая'},
        {link: '/news', caption: 'Специальные выпуски Toyota Corolla', image: 'boat-2.jpg', date: '12 мая'},
        {link: '/news', caption: 'Новый Lexus IS сохранит прежнюю линейку двигателей', image: 'boat-3.jpg', date: '9 мая'},
        {link: '/news', caption: 'Новый Mitsubishi Outlander может получить двигатель Nissan', image: 'boat-4.jpg', date: '5 мая'},
        {link: '/news', caption: 'Triton начинает постройку туристической подводной лодки', image: 'boat-1.jpg', date: '14 мая'},
        {link: '/news', caption: 'Специальные выпуски Toyota Corolla', image: 'boat-2.jpg', date: '12 мая'},
        {link: '/news', caption: 'Новый Lexus IS сохранит прежнюю линейку двигателей', image: 'boat-3.jpg', date: '9 мая'},
        {link: '/news', caption: 'Новый Mitsubishi Outlander может получить двигатель Nissan', image: 'boat-4.jpg', date: '5 мая'}
    ] %}

    {% for item in sections %}
        <section class="equipment mb-5">
            <div class="h1">{{ item.name }}</div>
            {% if item.subnav %}
                <div class="scroll-sm">
                    <nav class="nav">
                        {% for subitem in item.subnav %}
                            <a class="nav-link" href="{{ subitem.link }}">{{ subitem.name }}</a>
                        {% endfor %}
                    </nav>
                </div>
            {% endif %}
            {% if item.content %}
                <div class="scroll-sm">
                    <div class="row row-gutter-24">
                        {% for content in item.content %}
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="product-block-card">
                                    <div class="product-preview-img">
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <a href="{{ content.link }}">
                                                <img class="embed-responsive-item" src="/images/{{ content.image }}" alt="{{ content.name }}">
                                            </a>
                                            <div class="location">{{ content.location }}</div>
                                        </div>
                                    </div>
                                    <div class="product-preview-body">
                                        <a href="{{ content.link }}">
                                            <div class="title">{{ content.name }}</div>
                                            <div class="price">
                                                {{ content.price }}
                                                {% if content.pricerub %}
                                                    <span>{{ content.pricerub }}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </section>
    {% endfor %}

    <div class="row my-6">
        <div class="col">
            <section class="companies-benefit mb-6">
                <h3 class="mb-3">Добавьте свою компанию на&nbsp;сайт!</h3>
                <div class="row">
                    <div class="col-12 col-lg-6">

                        <p class="h5 mb-3">Вы сможете:</p>
                        <ul class="benefits list-unstyled mb-3">
                            <li>Настроить автоматическую выгрузку прайс-листа для&nbsp;любого раздела</li>
                            <li>Следить за&nbsp;контактыми данными и&nbsp;информацией о&nbsp;компании и&nbsp;легко вносить изменения</li>
                            <li>Собирать отзывы от&nbsp;покупателей и&nbsp;отвечать на&nbsp;них, управляя репутацией компании</li>
                            <li>Получать запросы клиентов на&nbsp;покупку товаров или&nbsp;услуг в&nbsp;личный кабинет</li>
                        </ul>
                        <button class="btn btn-primary btn-block mb-3 mb-lg-0">Добавить компанию</button>
                    </div>
                    <div class="col-12 col-lg-6">
                        <p class="h5 mb-3">Новые компании на&nbsp;сайте:</p>

                        <p><a href>Скава</a> — Запчасти для&nbsp;спецтехники</p>
                        <p><a href>ДВЕ ГАЗЕЛИ</a> — Продажа грузовых автомобилей и&nbsp;спецтехники</p>
                        <p><a href>Контракт Сервис</a> — Запчасти для&nbsp;авто-, мото- и&nbsp;спецтехники с&nbsp;доставкой
                        </p>
                        <p><a href>Океан Корпорация Техники</a> — Автомобили в&nbsp;наличии и&nbsp;под&nbsp;заказ</p>
                        <p><a href>AutoHouseVL</a> — авторазборка</p>
                        <p><a href>БУХТА ЗАПЧАСТЕЙ</a> — Продажа новых автозапчастей</p>
                        <p><a href>PartsGMT</a> — Запчасти для&nbsp;спецтехники</p>
                        <p><a href>vlad-detal</a> — Магазин автозапчастей</p>
                    </div>
                </div>
            </section>

            <section>
                <div class="h2 mb-2">
                    <a href="" class="text-dark">Новости, статьи и обзоры на JcNews.ru</a>
                </div>
                <div class="row row-gutter-24">
                    {% for article in news %}
                        <div class="col-12 col-lg-6 my-3">
                            <div class="media">
                                <div class="embed-responsive embed-responsive-4by3 w-25 mr-3">
                                    <a href="{{ article.link }}">
                                        <img class="embed-responsive-item" src="/images/{{ article.image }}" alt="{{ article.caption }}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="paragraph-sm text-muted">{{ article.date }}</div>
                                    <a href="{{ article.link }}">{{ article.caption }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="col-fixed d-none d-md-block">
            <img src="https://via.placeholder.com/240x400" alt="">
        </div>
    </div>
{% endblock %}
