{% block textcontent %}
{% set sections = [
        {
            "link": "/boats/list",
            "name": "Водная техника",
            "subnav": [
            { "link": "/boats/list", "name": "Катера" },
            { "link": "/boats/list", "name": "Яхты" },
            { "link": "/boats/list", "name": "Надувные лодки" },
            { "link": "/boats/list", "name": "Моторы" },
            { "link": "/boats/list", "name": "Гидроциклы" },
            { "link": "/boats/list", "name": "Парусные яхты" },
            { "link": "/boats/list", "name": "Моторные яхты" },
            { "link": "/boats/list", "name": "Прицепы" }
        ],
            "content": [
            {
                "link": "/boats/list",
                "name": "YANMAR ZX24C",
                "location": "Москва",
                "price": "8 899 999 ₽",
                "pricerub": "~11 925 720 ₽",
                "image": "boat-1.jpg"
            },
            {
                "link": "/boats/list",
                "name": "VELVETTE 41-Evolution",
                "location": "Москва",
                "price": "10 000 $",
                "image": "boat-2.jpg"
            },
            {
                "link": "/boats/list",
                "name": "КА80, КА70",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-3.jpg"
            },
            {
                "link": "/boats/list",
                "name": "YAMAHA F9,9JMH S",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-4.jpg"
            }
        ]
        },
        {
            "link": "/parts/list",
            "name": "Моторы",
            "subnav": [],
            "content": [
            {
                "link": "/boats/list",
                "name": "YANMAR ZX24C",
                "location": "Москва",
                "price": "8 899 999 ₽",
                "pricerub": "~11 925 720 ₽",
                "image": "boat-1.jpg"
            },
            {
                "link": "/boats/list",
                "name": "VELVETTE 41-Evolution",
                "location": "Москва",
                "price": "10 000 $",
                "image": "boat-2.jpg"
            },
            {
                "link": "/boats/list",
                "name": "КА80, КА70",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-3.jpg"
            },
            {
                "link": "/boats/list",
                "name": "YAMAHA F9,9JMH S",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-4.jpg"
            }
        ]
        },
        {
            "link": "",
            "name": "Запчасти",
            "subnav": [
            { "link": "/boats/list", "name": "Катера" },
            { "link": "/boats/list", "name": "Яхты" },
            { "link": "/boats/list", "name": "Надувные лодки" }
        ],
            "content": [
            {
                "link": "/boats/list",
                "name": "YANMAR ZX24C",
                "location": "Москва",
                "price": "8 899 999 ₽",
                "pricerub": "~11 925 720 ₽",
                "image": "boat-1.jpg"
            },
            {
                "link": "/boats/list",
                "name": "VELVETTE 41-Evolution",
                "location": "Москва",
                "price": "10 000 $",
                "image": "boat-2.jpg"
            },
            {
                "link": "/boats/list",
                "name": "КА80, КА70",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-3.jpg"
            },
            {
                "link": "/boats/list",
                "name": "YAMAHA F9,9JMH S",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-4.jpg"
            }
        ]
        },
        {
            "link": "",
            "name": "Рыбалка",
            "subnav": [
            { "link": "/boats/list", "name": "Катера" },
            { "link": "/boats/list", "name": "Яхты" },
            { "link": "/boats/list", "name": "Надувные лодки" }
        ],
            "content": [
            {
                "link": "/boats/list",
                "name": "YANMAR ZX24C",
                "location": "Москва",
                "price": "8 899 999 ₽",
                "pricerub": "~11 925 720 ₽",
                "image": "boat-1.jpg"
            },
            {
                "link": "/boats/list",
                "name": "VELVETTE 41-Evolution",
                "location": "Москва",
                "price": "10 000 $",
                "image": "boat-2.jpg"
            },
            {
                "link": "/boats/list",
                "name": "КА80, КА70",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-3.jpg"
            },
            {
                "link": "/boats/list",
                "name": "YAMAHA F9,9JMH S",
                "location": "Владивосток",
                "price": "48 000 $",
                "image": "boat-4.jpg"
            }
        ]
        }
    ] %}

    {% set news = [
        {link: '/news', caption: 'Triton начинает постройку туристической подводной лодки', image: 'boat-1.jpg', date: '14 мая'},
        {link: '/news', caption: 'Специальные выпуски Toyota Corolla', image: 'boat-2.jpg', date: '12 мая'},
        {link: '/news', caption: 'Новый Lexus IS сохранит прежнюю линейку двигателей', image: 'boat-3.jpg', date: '9 мая'},
        {link: '/news', caption: 'Новый Mitsubishi Outlander может получить двигатель Nissan', image: 'boat-4.jpg', date: '5 мая'},
        {link: '/news', caption: 'Triton начинает постройку туристической подводной лодки', image: 'boat-1.jpg', date: '14 мая'},
        {link: '/news', caption: 'Специальные выпуски Toyota Corolla', image: 'boat-2.jpg', date: '12 мая'},
        {link: '/news', caption: 'Новый Lexus IS сохранит прежнюю линейку двигателей', image: 'boat-3.jpg', date: '9 мая'},
        {link: '/news', caption: 'Новый Mitsubishi Outlander может получить двигатель Nissan', image: 'boat-4.jpg', date: '5 мая'}
    ] %}
    {block}
    {% set breadcrumbs = [
        {link: '/list', caption: 'Водная техника'},
        {link: '/list/location-moscow', caption: 'Продажа в Москве'},
    ] %}

{% endblock %}