// Forms

.form-field-state(@text-color: @text-color, @border-color: @gray, @background-color: #FFFFFF) {
  input, 
  select, 
  textarea,
  .input-addon div {
    border-color: @border-color;

    &:focus {
      @alpha: .15;
      @shadow: 0 0 0 3px hsla(hue(@border-color), saturation(@border-color), lightness(@border-color), @alpha); 
      border-color: @border-color;
      box-shadow: @shadow;
    }
  }

  .input-addon input {
    border-color: transparent !important;

    &:focus {
      border-color: transparent;
      box-shadow: none;

      & + div {
        @alpha: .15;
        @shadow: 0 0 0 3px hsla(hue(@border-color), saturation(@border-color), lightness(@border-color), @alpha); 
        border-color: @border-color;
        box-shadow: @shadow;
      }
    }
  }
  
  .checkbox, .radio, input, select, textarea {
    color: @text-color;
  }
  
  .field-state-message {
    background-color: @border-color;

    &:after {
      border-top-color: @border-color;    
    }
  } 
}


.input-size(@input-height; @padding-vertical; @padding-horizontal; @font-size; @border-radius) {
  height: @input-height;
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  border-radius: @border-radius;
  
  select& {
    height: @input-height;
  }

  textarea&,
  select[multiple]& {
    height: auto;
  }

  .input-addon& {
    padding: 0;

    input {
      height: @input-height;
      padding: @padding-vertical @padding-horizontal;
      font-size: @font-size;
    }

    .append,
    .prepend {
      font-size: @font-size;
    }
  }
}