// Grid
// ---------------------------------------------------
#grid {
  .fluid (@grid-column-width) {
    .spanX (@index) when (@index > 0) {
      .span@{index} { .span(@index); }
      .spanX(@index - 1);
    }
    
    .offsetX (@index) when (@index > 0) {
      .offset@{index} { .offset(@index); }
      .offsetX(@index - 1);
    }
    
    .spanX (0) {}
    .offsetX (0) {}
    
    .span (@columns) {
      width: (@grid-column-width * @columns);
    }
    
    .offset (@columns) {
      margin-left: (@grid-column-width * @columns);  
    }
    
    .row-fluid {
      width: auto;   
      max-width: none;
      margin-right: -(@grid-gutter-width);
      margin-left: -(@grid-gutter-width);
      .clearfix;
      
      [class*="span"] {
        float: left;
        padding: 0 @grid-gutter-width;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;    
      }
      
      [class*="offset"] {
        padding: 0 @grid-gutter-width;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box; 
      }
      
    }
    
    .spanX (@grid-columns);
    .offsetX (@grid-columns);
  }    
    
    
  .inline (@grid-inline-column-width) {
    .columnsX (@index) when (@index > 0) {
      .columns@{index} { .columns(@index); }
      .columnsX(@index - 1);
    }
    .columnsX (0) {}
    
    
    .columns (@columns) {
      .column {
        width: (@grid-inline-column-width / @columns) - 2;
      }  
    }
    
    .columns (@columns) when (@columns = 1) {
      .column { width: @grid-inline-column-width; } 
    }
    
    .columns {
      .column { width: auto; }   
    }
    
    [class*='columns'] {
      text-align: justify;
      
      line-height: 0;
      font-size: 1px; // Opera fix
      
      // webkit fix
      -webkit-margin-after: -2px;
      
      // ie7 fix
      *text-justify: newspaper;
      *zoom: 1;

      *text-align-last: justify;
      
      &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;    
      }
      
      .column {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        
        font-size: @font-size-base;
        line-height: @line-height-base;
      }
    }
    
    ul.column {
      margin: 0;
      list-style: none;    
    }

    .columnsX (@grid-inline-columns);
  } 
}