// Buttons
// * import:
// *  mixin-gradients.less
// *  mixin-opacity.less

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}

// Button variant
.button-variant(@color; @background-start; @background-end; @border) {
  position: relative;
  color: @color;
  border: 1px solid @border;
  #gradient > .vertical(@background-start, @background-end, 0, 100%);

  
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    #gradient > .vertical(@background-start, @background-end, 0, 150%);
  }
  

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      .opacity(.65);
    }
  }
}