{% extends "./_layout.twig" %}
{% block pagetitle %}<title>JcBoat.ru - Список объявлений</title>{% endblock %}

{% set breadcrumbs = [
    {link: '/list', name: 'Водная техника'},
    {link: '/list/location-moscow', name: 'Продажа в Москве'}
] %}

{% set list =
    [
        {
            "link": "/boats/list",
            "name": "Баржа SEA RAYDER GRABBER 12 2006 г.",
            "location": "Москва",
            "dimensions": "15.00 ft / 43 л.с.",
            "seller": {"iscompany":"true","name":"1000 размеров-Водник"},
            "instock": "true",
            "price": "150 000 ¥",
            "pricerub": "~ 11 925 720 ₽",
            "images": [{"src":"boat-1.jpg","data-link":"/boat-1"},{"src":"boat-2.jpg","data-link":"/boat-2"},{"src":"boat-3.jpg","data-link":"/boat-3"}],
            "created": {"date": "сегодня", "time": "15:30"},
            "highlighted": "true",
        },
        {
            "link": "/boats/list",
            "name": "VELVETTE 41-Evolution",
            "location": "Москва",
            "dimensions": "15.00 ft / 43 л.с.",
            "seller": {"iscompany":"","name":"Предложение от частного лица"},
            "instock": "true",
            "price": "10 000 $",
            "images": [{"src":"boat-2.jpg","data-link":"/boat-1"},{"src":"boat-2.jpg","data-link":"/boat-2"},{"src":"boat-3.jpg","data-link":"/boat-3"}],
            "created": {"date": "сегодня", "time": "12:30"}
        },
        {
            "link": "/boats/list",
            "name": "КА80, КА70",
            "location": "Владивосток",
            "dimensions": "15.00 ft / 43 л.с.",
            "seller": {"iscompany":"","name":"Предложение от частного лица"},
            "instock": "true",
            "price": "48 000 $",
            "images": [{"src":"boat-3.jpg","data-link":"/boat-1"},{"src":"boat-2.jpg","data-link":"/boat-2"},{"src":"boat-3.jpg","data-link":"/boat-3"}],
            "created": {"date": "15.05.2020", "time": "15:30"}
        },
        {
            "link": "/boats/list",
            "name": "YAMAHA F9,9JMH S",
            "location": "Владивосток",
            "dimensions": "15.00 ft / 43 л.с.",
            "seller": {"iscompany":"true","name":"1000 размеров-Водник"},
            "instock": "true",
            "price": "48 000 $",
            "images": [{"src":"boat-4.jpg","data-link":"/boat-1"},{"src":"boat-2.jpg","data-link":"/boat-2"},{"src":"boat-3.jpg","data-link":"/boat-3"}],
            "created": {"date": "12.05.200", "time": "15:30"}
        }
    ] %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        {% if loop.last %}
                            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="href={{ breadcrumb.link }}">{{ breadcrumb.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
            <section class="equipment-list">
                <h1>Продажа водной техники в Москве</h1>
                <div class="paragraph-sm text-muted">Найдено 3 289 объявлений о продаже катеров</div>
                <div class="row row-gutter-16 mt-2">
                    <div class="col d-lg-none"><button class="btn btn-block btn-outline-primary">Фильтры</button></div>
                    <div class="col col-lg-auto"><button class="btn btn-block btn-outline-secondary">Сортировать</button></div>
                </div>
                <div class="mt-3">
                    {% for list_item in list %}
                        <div class=":card product-list-card{% if list_item.highlighted == "true" %} highlighted{% endif %}">
                            <div class="product-preview-img">
                                <div class="scroll-sm">
                                    <div class="row">
                                        {% for image in list_item.images %}
                                            <div class="col">
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <a href="{{ image.link }}">
                                                        <img class="embed-responsive-item" src="/images/{{ image.src }}" alt="{{ list_item.name }}">
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="product-preview-body">
                                <div>
                                    <div class="title"><a href="{{ list_item.link }}">{{ list_item.name }}</a></div>
                                    <div class="dimensions">{{ list_item.dimensions }}</div>
                                </div>
                                <div class="price">
                                    <span>{{ list_item.price }}</span>
                                    {% if list_item.pricerub %}
                                        <span class="price-eq-rub">{{ list_item.pricerub }}</span>
                                    {% endif %}
                                    {% if list_item.instock %}
                                        <span class="badge badge-success">В наличии</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product-preview-footer">
                                <div class="seller">
                                    {% if list_item.seller.iscompany == "true" %}
                                        <svg class="icon-size-24 mr-2"><use xlink:href="#icon-seller"></use></svg>
                                        {{ list_item.seller.name }}
                                    {% else %}
                                        {{ list_item.seller.name }}
                                    {% endif %}
                                </div>
                                <div class="created">
                                    {{ list_item.location }},
                                    {{ list_item.created.date }} в
                                    {{ list_item.created.time }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="col-fixed d-none d-lg-block">
            <img src="https://via.placeholder.com/240x400" alt="">
        </div>
    </div>
{% endblock %}
