{% extends "./_layout.twig" %}

{% set breadcrumbs = [
    {link: '/list', name: 'Водная техника'},
    {link: '/list/location-moscow', name: 'Продажа в Москве'},
    {link: '', name: 'Яхта парусная КА80 2019 года в Москве'}
] %}

{% set images = [
    {"src":"boat-1.jpg"},
    {"src":"boat-2.jpg"},
    {"src":"boat-3.jpg"},
    {"src":"boat-4.jpg"},
    {"src":"boat-5.jpg"},
    {"src":"boat-6.jpg"},
] %}

{% set ads = [
    {
        "link": "/boats/list",
        "name": "YANMAR ZX24C",
        "location": "Москва",
        "price": "8 899 999 ₽",
        "pricerub": "~11 925 720 ₽",
        "image": "boat-1.jpg"
    },
    {
        "link": "/boats/list",
        "name": "VELVETTE 41-Evolution",
        "location": "Москва",
        "price": "10 000 $",
        "image": "boat-2.jpg"
    },
    {
        "link": "/boats/list",
        "name": "КА80, КА70",
        "location": "Владивосток",
        "price": "48 000 $",
        "image": "boat-3.jpg"
    },
    {
        "link": "/boats/list",
        "name": "YAMAHA F9,9JMH S",
        "location": "Владивосток",
        "price": "48 000 $",
        "image": "boat-4.jpg"
    },
] %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="href={{ breadcrumb.link }}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    <article class="product-page">
        <h1>
            <svg class="icon-size-32 d-inline-block">
                <use xlink:href="#icon-favorites-border"></use>
            </svg>
            Яхта парусная КА80 <!--2019 года в Москве -->
        </h1>
        <div class="d-flex flex-column flex-lg-row justify-content-between">
            <div class="price flex-fill">
                <div class="d-flex flex-column">
                    <span>150 000 ¥</span>
                    <span class="price-eq-rub">~ 11 925 720 ₽</span>
                </div>
                <span class="badge badge-success">В наличии</span>
            </div>
            <div class="mt-3 mt-lg-0 d-flex">
                <a href="" class="btn btn-outline-primary flex-fill">
                    <svg class="icon-size-24 mr-2">
                        <use xlink:href="#icon-dialogs"></use>
                    </svg>
                    Написать продавцу
                </a>
                <a href="" class="btn btn-outline-primary flex-fill ml-2">
                    <svg class="icon-size-24 mr-2">
                        <use xlink:href="#icon-phone"></use>
                    </svg>
                    Позвонить
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-lg-4 order-1 order-lg-0 d-flex flex-column justify-content-between">
                <div class="card card-seller">
                    <div class="card-body">
                        <div class="h3">Предложение от&nbsp;частного лица</div>
                        <div class="paragraph-sm text-muted">На JcBoat.ru 2 года</div>
                        <div class="lead mt-2 mb-3">
                            <svg class="icon-size-24 mr-2">
                                <use xlink:href="#icon-check-circle"></use>
                            </svg>
                            +7 (903) 673-96-96
                        </div>
                        <div class="paragraph-sm mt-1">Город: Москва</div>
                        <div class="paragraph-sm mt-1">Сайт: karulinyachts.com</div>
                        <div class="paragraph-sm mt-1">Более подробно на сайте karulinyachts ком или карулиняхтса</div>
                    </div>
                    <div class="card-footer">
                        <a class="d-inline-flex" href>
                            <svg class="icon-size-24 mr-2">
                                <use xlink:href="#icon-review"></use>
                            </svg>
                            Отзывы о продавце</a>
                    </div>
                </div>
                <div>
                    <div class="paragraph-sm mt-4">
                        Объявление № W170601 от 15.05.2020.
                    </div>
                    <div class="paragraph-sm">
                        Просмотров: 1 578.
                    </div>

                    <hr class="mt-3 mb-0">
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <div class="owl-carousel owl-main d-none d-md-block">
                    {% set image_no = 0 %}
                    {% for image in images %}
                        <div class="owl-carousel-img" data-count="{{ image_no }}"
                             style="background-image: url('/images/{{ image.src }}');"
                        ></div>
                        {#                        <div class="embed-responsive embed-responsive-4by3 thumbnail">#}
                        {#                            <img class="embed-responsive-item" src="/images/{{ image.src }}" alt="image">#}
                        {#                        </div>#}
                        {% set image_no = image_no + 1 %}
                    {% endfor %}
                </div>
                <div class="owl-container-wrap">
                    <div class="owl-thumbs-container mt-1">
                        <div class="owl-carousel owl-thumbs">
                            {% set image_no = 0 %}
                            {% for image in images %}

                                <div class="embed-responsive embed-responsive-4by3 thumbnail"
                                     data-count="{{ image_no }}"
                                >
                                    <img class="embed-responsive-item" src="/images/{{ image.src }}" alt="image">
                                </div>
                                {% set image_no = image_no + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-0">
                <div class="paragraph-sm mt-3">Вы нашли товар и готовы его оплатить?
                    <div class="paragraph-sm">Проверьте продавца.</div>
                    <div class="paragraph-sm mt-2"><a class="underlined" href>Как проверить продавца</a></div>
                </div>
                <div class="paragraph-sm mt-2">Администрация сайта не несет никакой ответственности за осуществление
                    хозяйственной деятельности, сделок между пользователями нашего сайта.
                </div>
                <div class="paragraph-sm mt-3"><a class="text-danger" href>
                        <svg class="icon-size-24 mr-2">
                            <use xlink:href="#icon-review"></use>
                        </svg>
                        Пожаловаться на объявление</a></div>
                <div class="paragraph-sm mt-2"><a class="text-danger" href>
                        <svg class="icon-size-24 mr-2">
                            <use xlink:href="#icon-ban"></use>
                        </svg>
                        Заблокировать продавца</a></div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="lead mb-3 mt-4"><strong>Характеристики:</strong></div>
                <div class="paragraph-sm">Новая стальная экспедиционная парусно-моторная яхта КА80 океанского класса.
                </div>
                <p>Постройка 2019 г.</p>

                <div class="lead mb-3 mt-4"><strong>От продавца:</strong></div>
                <p>Материал корпуса и надстройки сталь.</p>
                <p>Продается новая стальная парусная яхта НА ХОДУ ПОД МОТОРАМИ (установлены два главных двигателя
                    Perkins и
                    ДГ), требуется парусное вооружение и внутренняя отделка.</p>
                <p>Стоимость 299 тыс.долларов.</p>
                <p>Также можем построить стальной корпус 24 метровой (или 22 м) парусно-моторной яхты в среднем за 200
                    тыс. долларов в течение 4-6 месяцев.</p>
                <p>Основные размерения:</p>
                <p>Длина наибольшая - 24 м</p>
                <p>Длина по ватерлинии - 22 м</p>
                <p>Ширина наибольшая - 6,36 м</p>
                <p>Водоизмещение порожнем - 50 т</p>
                <p>Пассажировместимость - 12 чел.</p>
                <p>Более подробно карулиняхтс проект КА80</p>
            </div>
        </div>
        <div class="row row-gutter-16 more-ads">
            <div class="col-12">
                <hr class="mt-5 mb-4">
                <div class="h3 mb-3">Похожие объявления</div>
            </div>

            {% for content in ads %}
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="product-block-card">
                        <div class="product-preview-img">
                            <div class="embed-responsive embed-responsive-4by3">
                                <a href="{{ content.link }}">
                                    <img class="embed-responsive-item" src="/images/{{ content.image }}"
                                         alt="{{ content.name }}">
                                </a>
                                <div class="location">{{ content.location }}</div>
                            </div>
                        </div>
                        <div class="product-preview-body">
                            <a href="{{ content.link }}">
                                <div class="title">{{ content.name }}</div>
                                <div class="price">
                                    {{ content.price }}
                                    {% if content.pricerub %}
                                        <span>{{ content.pricerub }}</span>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    <script src="../dist/js/vendors/owl.carousel.min.js"></script>
    <script src="../dist/js/owl.carousel.init.js"></script>
{% endblock %}
