// Layouts

.header {
  display: flex;
  align-items: center;
  height: 56px;
  margin-bottom: getItem($spacers, 5);
  box-shadow: 0 1px 0 $hr-border-color;

  @include media-breakpoint-down(md) {
    margin-bottom: getItem($spacers, 4);
  }

  @include media-breakpoint-down(xs) {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: $white;

    & ~ main {
      margin-top: calc(#{getItem($spacers, 4)} + 56px);
    }
  }

  .nav {
    .nav-link {
      padding: .25rem .75rem;
      color: $body-color;
      border-radius: $border-radius;

      &:hover, &:focus {
        background: $light;
      }
    }
  }
}


.footer {
  margin-top: getItem($spacers, 6);
  padding: getItem($spacers, 5) 0;
  font-size: $font-size-sm;
  border-top: 1px solid $hr-border-color;

  @include media-breakpoint-down(md) {
    padding: getItem($spacers, 4) 0;
  }

  .copyright {
    font-size: $font-size-base;
  }
}


.burger {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: -.25rem;
  padding: 0;
  background: transparent;
  border-color: transparent;

  span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px 5px;
    background: $primary;
    border-radius: 1px;
  }
}

.breadcrumb {
  background: none;
  padding: 0;
  color: $secondary;
  font-size: $font-size-xs;

  a {
    color: $secondary;
  }
}


$row-gutters: 16, 24;

@each $gutter in $row-gutters {
  .row-gutter-#{$gutter} {
    margin-right: #{$gutter / -2}px;
    margin-left: #{$gutter / -2}px;

    [class*=" col"], [class^="col"] {
      padding-right: #{$gutter / 2}px;
      padding-left: #{$gutter / 2}px;
    }
  }
}

.col-fixed {
  flex-basis: 0;
  flex-grow: 1;
  max-width: $fixed-column-width;
  padding-right: 16px;
  padding-left: 16px;
}


// Drawer

%full-height-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.drawer {
  @extend %full-height-layer;
  z-index: 100;
  background-color: transparent;
  pointer-events: none;

  &::after {
    @extend %full-height-layer;
    content: '';
    display: block;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity $animation-duration linear;
  }

  &.show {
    pointer-events: auto;

    &::after {
      opacity: 1;
    }
  }

  .drawer-body {
    @extend %full-height-layer;
    z-index: 102;
    width: 80%;
    max-width: 340px;
    background-color: white;
    transform: translateX(-100%);
    transition: transform $animation-duration linear;
  }

  &.show .drawer-body {
    transform: translateX(0);
  }

  .nav {
    flex-direction: column;
    padding: .5rem 0;

    .nav-link {
      display: flex;
      align-items: center;
      color: $body-color;
    }
  }
}


// Main page
$container-margins-sm: calc((100vw - #{map-get($container-max-widths, "sm")}) / 2);
$reset-container-margin-sm: calc(-1 * (100vw - #{map-get($container-max-widths, "sm") - $grid-gutter-width}) / 2);
$reset-container-margin-xs: - $grid-gutter-width/2;

.scroll-sm {

  @include media-breakpoint-down(sm) {
    position: relative;
    margin-right: $reset-container-margin-sm;
    //margin: 0 $grid-gutter-width / -2; // это padding у .container он не меняется
    //padding: 0 $grid-gutter-width / 2;
    overflow-x: auto;

    & > nav {
      flex-wrap: nowrap;

      .nav-link {
        flex: 0 0 auto;
      }
    }

    & > .row {
      flex-wrap: nowrap;

      [class*=" col"], [class^="col"] {
        max-width: 80%;
      }
    }
  }
  @include media-breakpoint-down("xs", $grid-breakpoints) {
    margin-right: $reset-container-margin-xs;
  }
}

.equipment {
  margin-bottom: 1.5rem;

  .nav {
    margin-left: -.75rem;
    margin-right: -.75rem;

    .nav-link {
      padding: 0.5rem .75rem;
    }
  }
}

.product-block-card {

  margin-top: getItem($spacers, 2);

  .product-preview-img {
    position: relative;
  }

  .location {
    position: absolute;
    display: block;
    z-index: 10;
    bottom: getItem($spacers, 1);
    left: getItem($spacers, 2);
    font-size: $font-size-xs;
    color: $white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  }

  .product-preview-body {
    padding: getItem($spacers, 2) getItem($spacers, 1);
    flex: 1 1 auto;

    a {
      .title {
        margin-top: getItem($spacers, 1);
        color: $body-color;
      }

      .price {
        font-weight: $font-weight-medium;

        span {
          font-weight: $font-weight-normal;
          display: inline-block;
          color: $gray-400;
          font-size: $font-size-xs;
          line-height: getItem($spacers, 4);
          margin-left: getItem($spacers, 1);
        }
      }
    }


  }
}

// List

.equipment-list {
  .found {
    color: $gray-400;
    font-size: $font-size-sm;
  }
}

@mixin price-common {
  color: $primary;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  .price-eq-rub {
    font-weight: $font-weight-normal;
    display: inline-block;
    color: $gray-400;
    font-size: $font-size-sm;
    position: relative;
    top: -2px;
    margin-left: getItem($spacers, 1);
  }
  .badge {
    position: relative;
    top: -2px;
    margin-left: getItem($spacers, 2);
  }
}

@mixin title-common {
  .title {
    font-size: $font-size-lg;

    a {
      color: $dark;
      text-decoration: none;
      background-image: linear-gradient(
                      to top,
                      rgba(51, 51, 51, 0) 0px,
                      rgba(51, 51, 51, 0) 1px,
                      rgba(51, 51, 51, 30%) 1px,
                      rgba(51, 51, 51, 0) 2px,
                      rgba(51, 51, 51, 0) 100px
      );
    }
  }
}

.product-list-card {
  flex-direction: column;
  position: relative;
  display: flex;

  &.highlighted {
    background-color: rgba(182, 148, 73, 0.05);
  }

  .product-preview-footer {
    padding: 0.75rem 1.25rem;

    .seller {
      display: flex;

      svg {
        color: $green;
      }
    }

    .created {
      font-size: $font-size-sm;
      color: $gray-400;
      margin-top: getItem($spacers, 1);
    }
  }


  @include media-breakpoint-down("sm", $grid-breakpoints) {
    margin-right: $reset-container-margin-sm;
    margin-left: $reset-container-margin-sm;
    padding-left: $container-margins-sm;

    border-bottom: 1px solid $card-border-color;
    &:first-child {
      border-top: 1px solid $card-border-color;
    }
    border-radius: 0;

    .product-preview-img {
      padding: 0 getItem($spacers, 3);

      .scroll-sm {
        margin-right: - getItem($spacers, 3);

        .row {
          margin-left: -2px;
          margin-right: -2px;

          [class*=" col"], [class^="col"] {
            flex: 0 0 calc(210px + 4px);
            padding-left: 2px;
            padding-right: 2px;

            &:last-child {
              flex-basis: calc(210px + #{getItem($spacers, 3)} + 2px);
              padding-right: getItem($spacers, 3);
            }
          }
        }
      }
    }


    .product-preview-body {
      order: -1;
      padding: getItem($spacers, 3) getItem($spacers, 3) getItem($spacers, 2);

      @include title-common;

      .dimensions {
        color: $secondary;
        margin-top: getItem($spacers, 1);
      }

      .price {
        @include price-common;
        margin-top: getItem($spacers, 2);
      }
    }
  }
  @include media-breakpoint-down("xs", $grid-breakpoints) {
    margin-right: $reset-container-margin-xs;
    margin-left: $reset-container-margin-xs;
  }
  @include media-breakpoint-up("md", $grid-breakpoints) {
    @include clearfix;
    display: block;
    border-bottom: 1px solid $card-border-color;
    padding-top: getItem($spacers, 3);
    padding-bottom: getItem($spacers, 3);
    .product-preview-img {
      width: 210px;
      float: left;

      .col ~ .col {
        display: none;
      }
    }
    .product-preview-body {
      margin-left: calc(210px + #{getItem($spacers, 4)});
      display: flex;
      justify-content: space-between;

      @include title-common;

      .price {
        @include price-common;
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;

        span {
          text-align: right;
        }

        .badge {
          margin-top: getItem($spacers, 2);
        }
      }
    }
    .product-preview-footer {
      padding: 0;
      position: absolute;
      bottom: #{getItem($spacers, 3)};
      width: calc(100% - 210px - #{getItem($spacers, 4)});
      margin-left: calc(210px + #{getItem($spacers, 4)});
      display: flex;
      justify-content: space-between;

      .created {
        margin-top: 2px;
      }
    }
    &.highlighted {
      margin-left: - getItem($spacers, 3);
      margin-right: - getItem($spacers, 3);
      padding-left: getItem($spacers, 3);
      padding-right: getItem($spacers, 3);
      border-radius: 10px;
      border: 1px solid $card-border-color;

      .product-preview-footer {
        width: calc(100% - 210px - #{getItem($spacers, 4)} - #{getItem($spacers, 3) * 2});

        .seller {
          font-weight: $font-weight-medium;
          color: $body-color;
        }
      }
    }
  }
}

%benefits-list-common {
  .benefits li {
    margin-bottom: .5rem;
    margin-left: 2.5rem;
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: "";
      color: $green;
      left: -2.5rem;
      top: 0;
      width: 1.5rem;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%2328A745' d='M12 1C5.928 1 1 5.928 1 12s4.928 11 11 11 11-4.928 11-11S18.072 1 12 1zm0 20c-4.961 0-9-4.039-9-9s4.039-9 9-9 9 4.039 9 9-4.039 9-9 9zm3.88-12.71L10 14.17l-1.88-1.88c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7c.39-.39.39-1.02 0-1.41-.39-.39-1.03-.39-1.42 0z'/%3E%3C/svg%3E%0A");
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.companies-benefit {
  @extend %benefits-list-common;
}

.choose-section {
  .btn {
    height: auto;
    min-height: $btn-height;
  }
}

.choose-section-label {
  margin-bottom: getItem($spacers, 2);
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    min-height: $btn-height;
    display: flex;
    align-items: center;
  }
}

// Typography

.text-muted-light {
  color: $gray-400;
}

.paragraph-lg {
  font-size: $font-size-lg;
  line-height: $line-height-base;
}

.paragraph-sm {
  font-size: $font-size-sm;
  line-height: $line-height-base;
}

.paragraph-xs {
  font-size: $font-size-xs;
  line-height: 1.3;
}

a.underlined {
  text-decoration: underline;
}

// Icons

.svg-icon-lib {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

[class^="icon-"], [class*=" icon-"] {
  fill: currentColor !important;
}

$icon-sizes: 18, 24, 32;

@each $size in $icon-sizes {
  .icon-size-#{$size} {
    display: block;
    width: #{$size}px;
    height: #{$size}px;
  }
}

a > [class^="icon-"], a > [class*=" icon-"] {
  display: inline-block;
}


// Dropdown

.dropdown-by-hover {
  &:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

//  Inputs
.form-control {
  height: $input-height;
}

.input-group-append {
  .custom-select {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

.required:before {
  color: rgb(232, 54, 49);
  content: "*";
  display: block;
  font-size: 16px;
  height: 14px;
  margin-left: -10px;
  position: absolute;
}

// Buttons

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $btn-height;
}

.btn-sm {
  height: $btn-height-sm;
}

.btn-lg {
  height: $btn-height-lg;
}

.btn-group-toggle {
  button {
    height: auto;
    padding-top: getItem($spacers, 1);
    padding-bottom: getItem($spacers, 1);
  }
}

//Load images

.images-list.droppable {
  border: 2px dotted lightgray;
  border-radius: $border-radius-lg;
  //min-height: 90px;
  padding: 1rem 1rem 0;
}

.images-list.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.images-list.drag {
  border-color: #28a745;
}

.load-image {
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: .5rem;
  min-height: 60px;

  img {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: $border-radius;
  }

  .progress {
    height: 8px;
    margin-top: 1px;
    margin-bottom: 0;
  }

  &.load-success .progress,
  &.load-error-stop .progress,
  &.load-error-refresh .progress {
    display: none;
  }

  &.load-success .status-text,
  &.load-error-stop .status-text,
  &.load-error-refresh .status-text {
    position: static;
    top: -2px;
    left: 0;
    bottom: 3px;
    font-size: 12px;
  }

  &.load-error-stop:before,
  &.load-error-refresh:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 48px;
    height: 48px;
    z-index: 10;
  }

  &.load-error-refresh:after,
  &.load-error-stop:after {
    content: "";
    display: block;
    position: absolute;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    z-index: 11;
  }

  &.load-error-refresh:after {
    background-image: url('#{$path-base64}/icon-refresh.svg');
    //background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2328a745' d='M440.65 12.57l4 82.77A247.16 247.16 0 0 0 255.83 8C134.73 8 33.91 94.92 12.29 209.82A12 12 0 0 0 24.09 224h49.05a12 12 0 0 0 11.67-9.26 175.91 175.91 0 0 1 317-56.94l-101.46-4.86a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12H500a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12h-47.37a12 12 0 0 0-11.98 12.57zM255.83 432a175.61 175.61 0 0 1-146-77.8l101.8 4.87a12 12 0 0 0 12.57-12v-47.4a12 12 0 0 0-12-12H12a12 12 0 0 0-12 12V500a12 12 0 0 0 12 12h47.35a12 12 0 0 0 12-12.6l-4.15-82.57A247.17 247.17 0 0 0 255.83 504c121.11 0 221.93-86.92 243.55-201.82a12 12 0 0 0-11.8-14.18h-49.05a12 12 0 0 0-11.67 9.26A175.86 175.86 0 0 1 255.83 432z' class=''%3E%3C/path%3E%3C/svg%3E%0A");
  }

  &.load-error-stop:after {
    background-image: url('#{$path-base64}/icon-block.svg');
    //background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23dc3545' d='M256 8C119.034 8 8 119.033 8 256s111.034 248 248 248 248-111.034 248-248S392.967 8 256 8zm130.108 117.892c65.448 65.448 70 165.481 20.677 235.637L150.47 105.216c70.204-49.356 170.226-44.735 235.638 20.676zM125.892 386.108c-65.448-65.448-70-165.481-20.677-235.637L361.53 406.784c-70.203 49.356-170.226 44.736-235.638-20.676z' class=''%3E%3C/path%3E%3C/svg%3E%0A");
  }

  .status-text {
    position: absolute;
    left: calc(10px + 10px + 48px + 16px);
    top: 10px;
    font-size: 12px;
    line-height: $spacer;
  }

  .btn {
    &.btn-outline-light {
      border-color: $gray-200;
    }

    i {
      width: 14px;
      height: 14px;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: top;
      margin-top: 2px;
    }
  }
}

.card-offer {
  background-color: $gray-100;
  border: none;
  font-size: $font-size-sm;

  [type='submit'] {
    background-color: $orange;
    border: none;

    &:hover {
      box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.2);
    }
  }
}

.svg-camera {
  background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23222222' d='M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z' class=''%3E%3C/path%3E%3C/svg%3E%0A");
}

.svg-gallery {
  background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23222222' d='M416 32H32A32 32 0 0 0 0 64v384a32 32 0 0 0 32 32h384a32 32 0 0 0 32-32V64a32 32 0 0 0-32-32zm-16 400H48v-64h352zm0-112h-16l-97.07-121c-7.46-9.31-22.4-9.31-29.86 0l-63.38 79-33.05-45.78c-7.92-11-25.36-11-33.28 0L64 320H48V80h352zM144 176a32 32 0 1 0-32-32 32 32 0 0 0 32 32z' class=''%3E%3C/path%3E%3C/svg%3E%0A");
}

.svg-load {
  background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23222222' d='M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z' class=''%3E%3C/path%3E%3C/svg%3E%0A");
}

// Product card

.product-page {
  h1 {
    svg {
      margin-top: - getItem($spacers,1);
      color: $orange
    }
  }

  .lead strong {
    font-weight: 500;
  }

  .price {
    @include price-common;
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    line-height: 1;

    & > div {
      font-size: 28px;
      flex-direction: column;
    }

    .price-eq-rub {
      margin-top: getItem($spacers, 2);
    }

    .badge {
      margin-top: getItem($spacers, 1);
      margin-left: getItem($spacers, 3);
      flex: 0 0 auto;
    }
  }
}

.card-seller {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: $border-radius-lg;
  border: none;
  flex: 0 0 448px;

  .card-body {
    padding: 16px;
  }

  .lead {
    svg {
      display: inline-block;
      color: $green;
      margin-top: - getItem($spacers, 1);
    }
  }

  .card-footer {
    padding: 16px;
    border: none;
    background: none;
  }
}

.owl-container-wrap {
  overflow-x: hidden;
  @include media-breakpoint-down("sm", $grid-breakpoints) {
    margin-right: calc(-1 * (100vw - #{map-get($container-max-widths, "sm") - $grid-gutter-width}) / 2);
  }
  @include media-breakpoint-down("xs", $grid-breakpoints) {
    margin-right: $reset-container-margin-xs;
  }
}

.owl-thumbs-container {
  @include media-breakpoint-down("sm", $grid-breakpoints) {
    width: map-get($container-max-widths, "sm")*2 - $grid-gutter-width;
  }
  @include media-breakpoint-down("xs", $grid-breakpoints) {
    width: calc((100vw - #{$grid-gutter-width}) * 2);
  }
}

.owl-carousel-img {
  height: 448px;
  background-color: #b1dfbb;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.more-ads {
  .price {
    font-size: $font-size-base;
    line-height: 1.5;
  }
}

// Companies

.company-list-card {
  min-height: 90px;
  border-bottom: 2px solid $card-border-color;

  &:last-child {
    border-bottom: none;
  }

  @include title-common;

  .row {
    height: 100%;
  }

  .company-logo {
    img {
      width: 100%;
      object-fit: contain;
      border-radius: $border-radius;
    }
  }

  .company-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .company-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.company-settings {
  @include title-common;

  .company-logo {
    width: 160px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: $border-radius;
    overflow: hidden;

    .embed-responsive {
      img {
        object-fit: fill;
        border-radius: 0;
      }
    }
  }

  .activity,
  .office{
    border-bottom: 4px dashed $border-color;
  }

  .form-control-toggle {
      svg {
        transform: rotate(180deg);
        transition: transform $animation-duration linear;
        margin-bottom: 2px;
      }

      a {
        &:hover {
          text-decoration: none;
        }
        &.collapsed svg {
          transform: rotate(0);
        }
      }
  }



  .card {
    @extend %benefits-list-common;

    .card-header {
      min-height: 73px;
      display: flex;
      align-items: center;
    }

    .benefits {
      margin-bottom: 0;

      li {
        margin-bottom: .5rem;

        &:last-child {
          margin-bottom: 0;
        }

        margin-left: 1.75rem;

        &:before {
          left: -1.75rem;
          top: 0.1rem;
          width: 1.25rem;
          height: 100%;
        }
      }
    }
  }

  .direction-group {
    position: relative;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: getItem($spacers, 4) getItem($spacers, 3) 0;

    .direction-group-legend {
      position: absolute;
      top: - 16px;
      left: 8px;
      background-color: $white;
      z-index: 10;
      padding: getItem($spacers, 1) getItem($spacers, 2);

      @include media-breakpoint-down(xs) {
        margin-bottom: getItem($spacers, 4);
        font-size: $font-size-sm;
      }
    }
  }


}

//Pagination


// Embed

.embed-responsive {
  img {
    object-fit: cover;
    border-radius: $border-radius;
  }
}