$enable-responsive-font-sizes: true;

$path-base64:   '../base64';


// Color system

$white:         #fff;
$gray-100:      #f2f2f2;
$gray-200:      #cccccc;
$gray-300:      #b2b2b2;
$gray-400:      #999999;
$gray-500:      #7f7f7f;
$gray-600:      #666666;
$gray-700:      #4c4c4c;
$gray-800:      #333333;
$gray-900:      #191919;
$black:         #000;

$blue:          #0084ed;
$bluewood:      #2b384f;
$orange:        #e45d1c;

$primary:       $blue;
//$secondary:     $orange;
$secondary:     $gray-600;
$info:          $bluewood;
$light:         $gray-100;
$dark:          $gray-800;


// Typography

$font-family-sans-serif:      "Rubik", Roboto, Helvetica, Arial, sans-serif;

$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;

$font-size-base:              1rem;
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;
$font-size-xs:                $font-size-base * .75;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $font-size-base * .875;

$headings-font-weight:        $font-weight-medium;
$headings-line-height:        1.2;

$lead-font-size:              $font-size-lg;
$lead-font-weight:            $font-weight-normal;


// Component

$border-color: $gray-200;


// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 3)
);


// Buttons

$btn-height:            2.25rem;
$btn-padding-y:         0;

$btn-height-sm:         2rem;
$btn-padding-y-sm:      0;
$btn-font-size-sm:      $font-size-base;

$btn-height-lg:         2.625rem;
$btn-padding-y-lg:      0;
$btn-font-size-lg:      $font-size-base * 1.125;


// Input

$input-placeholder-color:   $gray-400;
$input-border-color:        $border-color;
$input-height:              2.25rem;


// Badges

$badge-font-weight:     $font-weight-normal;


// Grid containers

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);

$grid-gutter-width: 32px;

$fixed-column-width: 240px + $grid-gutter-width;


// Other
$custom-file-button-color: $white;
$custom-file-button-bg: $primary;
$custom-file-text: (
  en: "Browse",
  ru: "Выберите файл"
);

$embed-responsive-aspect-ratios: (
  (16 6),
) ;

$animation-duration: .15s;